<section class="bodypart features">
    <div class="container">
      <div class="contentSec cango">
        <h2 class="SecTitle">Everyone can go AI.</h2>
        <p>
          As the applications of Artificial Intelligence gain momentum in everyday life, we aim to nurture its ecosystem
          with data-driven, open-source technology<br/> solutions and training that benefit businesses, customers, communities
          and stakeholders. We are building the world of tomorrow.
        </p>
        <p>We are accelerating the next wave of change. For everyone.</p>
      </div>

      <div class="contentSec manMachine">
        <h2 class="SecTitle">The robust man-machine advantage.</h2>
        <p>We believe in blending man and machine learning into a hybrid system
          that is smarter, intuitive and driven by stronger ethical considerations.<br/>
          All our open source AI solutions are robust, value driven,
          industry agnostic and focused on accelerating positive change.
        </p>

        <div class="row">
          <div class="col-4 partList">
            <span class="iconsprt advantage agnostic"></span>
            <h4>Agnostic solutions</h4>
            <p>Assistance in migration from expensive legacy lock-ins to solutions that are more flexible and tuned to
              evolving business needs. </p>
          </div>
          <div class="col-4 partList">
            <span class="iconsprt advantage robust"></span>
            <h4>Robust Models</h4>
            <p>Reliability is built in from the start with robust modeling and testing architecture to ensure successful
              outcomes.</p>
          </div>
          <div class="col-4 partList">
            <span class="iconsprt advantage ethical"></span>
            <h4>Ethical Value oriented</h4>
            <p>Optimised solutions designed to be ethical and cost-effective across initial build and operational costs
              for greater goodwill and LTV.</p>
          </div>
          <div class="col-4 partList">
            <span class="iconsprt advantage respons"></span>
            <h4>Responsiveness</h4>
            <p>Based on areas of engagement, a 24x7 service, consultancy and trouble-shooting support is available.</p>
          </div>
          <div class="col-4 partList">
            <span class="iconsprt advantage training"></span>
            <h4>Training / Up-skilling</h4>
            <p>Modular training of new hires or upskilling of existing talent can save costs in the digital transformation
              process. </p>
          </div>
          <div class="col-4 partList">
            <span class="iconsprt advantage domain"></span>
            <h4>Domain expertise</h4>
            <p>With a combined experience of over 100 years across our team, we offer open source AI domain expertise for
              BFSI, Insurance and other verticals. </p>
          </div>
        </div>
      </div>
    </div>
  </section>