<section class="bodypart features"  >
  <div class="backGroundMask">
    <div class="maskGrid">
      <div class="left">
        <div class="line"></div>
      </div>
        <div class="right">
          <div class="line"></div>
        </div>
    </div>
   </div>
    <div class="container">
      <div class="contentSec cango">
        <h2 class="SecTitle">Everyone can go <span class="MoreLight">AI</span></h2>
        <p>
          As the applications of Artificial Intelligence gain momentum in everyday life, we aim to nurture its ecosystem<br/>
          with data-driven, open-source technology solutions and training that benefit businesses, <br/>customers, communities
          and stakeholders. We are building the world of tomorrow.<br/>
          We are accelerating the next wave of change. For everyone.
        </p>

      </div>

      <div class="contentSec manMachine">
        <h2 class="SecTitle">The robust man-machine <span class="MoreLight">Advantage</span></h2>
        <p>We believe in blending man and machine learning into a hybrid system
          that is smarter, intuitive and driven by stronger ethical considerations.<br/>
          All our open source AI solutions are robust, value driven,
          industry independent and focused on accelerating positive change.
        </p>

        <div class="row">
          <div class="col-4 list">
            <div class="partList">
              <span class="iconsprt advantage agnostic"></span>
              <div class="partListCont">
                <h4>Technology <span>Agnostic</span></h4>
                <p>Assistance in migration from expensive legacy monoliths to easy to use, maintain and scalable solutions that address evolving business needs.</p>
              </div>
            </div>


          </div>
          <div class="col-4 list">
            <div class="partList">
              <span class="iconsprt advantage robust"></span>
              <div class="partListCont">
               <h4>Domain <span>Expertise</span></h4>
              <p>Domain expertise across BFSI and other vertical as the team has decades of experience working on  opensource and emerging technologies.</p>
            </div>
            </div>

        </div>
          <div class="col-4 list">
            <div class="partList">
              <span class="iconsprt advantage ethical"></span>
              <div class="partListCont">
              <h4>Ethical <span>Solutions</span></h4>
              <p>Optimised solutions designed with ethics to be cost effective during the lifecycle of usage resulting in customer delight.</p>
                </div>
            </div>

          </div>
          <div class="col-4 list">
            <div class="partList">
              <span class="iconsprt advantage respons"></span>
              <div class="partListCont">
              <h4>Flexible <span>Support</span></h4>
              <p>24X7 services based on engagement models and consultancy on maximising the return on existing investments.</p>
            </div>
            </div>

          </div>
          <div class="col-4 list">
            <div class="partList">
              <span class="iconsprt advantage training"></span>
              <div class="partListCont">
              <h4>Training <span>/ Up-skilling</span></h4>
              <p>Modular training of new hires or upskilling of existing talent can save costs in the digital transformation
                process. </p>

            </div>

          </div>
          </div>
          <div class="col-4 list">
            <div class="partList">
              <span class="iconsprt advantage domain"></span>

              <div class="partListCont">
              <h4>Robust <span>Models</span></h4>
              <p>Reliability is built in from the start with robust modeling and testing architecture to ensure successful
                outcomes.</p>
                </div>

            </div>

          </div>


      </div>
    </div>
    </div>
  </section>