.features{
    position: relative;
    padding:0;
    top: -80px;
    .container{
        padding: 100px 0 0;
    }
    .contentSec{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        z-index: 3;
        &.cango{
            padding: 0px 0 20px;
            p{
                text-align: center;
                //font-size: 18px;
                //color:#707070;
                &.line2{
                    font-weight: 500;
                    color: #696969;
                    //font-size: 18px;
                }
            }
        }
        &.manMachine{
            padding: 50px 0 50px;
            p{
                text-align: center;
                //font-size: 20px;
            }
            .list{
                margin-top: 20px;
                .partList{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    font-size: 14px;
                    margin:  0 15px;
                    height: 100%;
                    .advantage{
                        width: 50px;
                        height: 50px;


                    }
                    .partListCont{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;

                        p{
                            font-size: 16px;
                            text-align: left;
                            color: #373C44
                            //font-weight: 500;
                        }
                        h4{
                            color: #002c67;
                            font-size: 16px;
                            margin: 10px 0;
                            font-weight: bold;
                            span{
                                font-weight: 400;
                                //font-size: 18px;
                            }
                        }
                    }


                }
            }

        }
    }
    .maskGrid{
        height: 100%;
        width: 100%;
        background-color: #fff;
        transform: skewY(-4deg);
        .line{
            position: relative;
            &::before{
                content: '';
                height: 2px;
                width: 50%;
                background-color: #FF5D2E;
                position: absolute;
                left: 106%;
                top: 0;
                display: flex;
            }
            &::after{
                content: '';
                height: 2px;
                width: 50%;
                background-color: #FF5D2E;
                position: absolute;
                left: 88%;
                top: -20px;
                display: flex;
            }
        }

        .left {
            background-color: rgba(255, 172, 64, 0.871);
            border-radius: 0 33px 33px 0;
            height: 47px;
            left: 0px;
            position: absolute;
            top:-22px;
            width: 15%;
            &::before{
                content: '';
            background-color: rgba(255,102,0,0.6);
            border-radius:0  33px 33px 0;
            height: 40px;
            left: 0;
            position: absolute;
            width: 72%;
            top: -20px;
                }
                .line{

                }
             }
             .right {
                background-color:rgba(0, 83, 195, .8);
                border-radius: 33px 0 0 33px;
                height: 47px;
                right: 0px;
                position: absolute;
                top:-21px;
                width: 15%;
                &::before{
                content: '';
                background-color:rgba(82, 197, 233, .6);
                border-radius:33px 0 0 33px;
                height: 40px;
                right: 0;
                position: absolute;
                width: 72%;
                top: -20px;
                    }
                    .line{
                        &::before{
                            background-color:#53B8FC;
                            right: 106%;
                            left: unset;
                            top: 1px;
                        }
                        &::after{
                            display: none;
                        }
                    }
                 }
    }
}
@media screen and (max-width: 600px) {

    .features{
        .container{
            padding: 50px 0 0;
        }
        .contentSec{

            &.cango{
                padding: 0px 15px 20px;
                p{
                    font-size: .85rem;
                    br{
                        display: none;
                    }
                }
            }
            &.manMachine{
                padding: 0 15px;
                h2{
                    text-align: center;
                }
                p{
                    font-size: .85rem;
                    br{
                        display: none;
                    }
                }
                .list{
                    flex: 0 0 100%;
                    max-width: 100%;
                    margin-top: 10px;
                    .partList{
                        align-items: center;
                        .partListCont{
                            align-items: center;
                            h4{
                                font-size: 1rem;
                            }
                            p{
                                text-align: center;
                                font-size: .85rem;
                            }
                        }
                    }
                }
            }

        }
        .maskGrid{
            transform: skewY(-6deg);
            .left {
                border-radius: 0 30px 30px 0;
                height: 24px;
                left: 0px;
                top:-12px;
                &::before{
                border-radius:0  30px 30px 0;
                height: 20px;
                top: -8px;
                width: 60%;
                    }
                    .line{
                        display: none;
                    }
                 }
                 .right {
                    border-radius: 30px 0 0 30px;
                    height: 24px;
                    top:-12px;
                    &::before{
                    border-radius:30px 0 0 30px;
                    height: 20px;
                    top: -8px;
                    width: 60%;
                        }
                        .line{
                        display: none;
                        }
                     }
        }
    }
}