<section class="insureAI sticky-top">
    <!-- <div class="container sticky-top">
      <div class="row">
        <div class="col-6">
          <h2 class="SecTitle">InsureAI <span> - A Data Science Wizard's product</span></h2>
          <span>Harnessing the power of Data, employing Artificial Intelligence & Machine Learning</span>
          <ul>
            <li>
             <a href="">Underwriting & Risk Rating</a>
            </li>
            <li>
              <a href=""> Customer Servicing</a>
            </li>
            <li>
              <a href="">Fraud Detection</a>
            </li>
            <li>
              <a href=""> Claims Management</a>
            </li>
          </ul>
          <button type="submit" class="btn btn-primary">Learn more</button>
        </div>
        <div class="col-6 insuranceSlider">
          <figure>
            <img src="../assets/images/underwriting-Risk-Rating.jpg" alt="insurance" title="insurance">
            <div class="secData">
              <h5>UNDERWRITING & RISK RATING</h5>
              <p>InsureAI assists underwriters in analysing data, premium prediction and relevant documents generation to speed up the underwriting process.</p>
            </div>
          </figure>
        </div>
      </div>
    </div> -->
    <div class="insureAIContent">
    <div class="container" data-spy="scroll" data-target="#myScrollspy" data-offset="20">
      <div class="row">
        <div class="col-6">
          <h2 class="SecTitle">InsureAI <span> - A Data Science Wizard's product</span></h2>
          <span>Harnessing the power of Data, employing Artificial Intelligence & Machine Learning</span>
          <ul id="list-example" class="list-group">
            <li>
              <a class="list-group-item list-group-item-action active" href="#list-item-1"><span>Underwriting & Risk Rating</span></a>
            </li>
            <li>
              <a class="list-group-item list-group-item-action" href="#list-item-2"><span>Customer Servicing</span></a>
            </li>
            <li>
              <a class="list-group-item list-group-item-action" href="#list-item-3"><span>Fraud Detection</span></a>
            </li>
            <li>
              <a class="list-group-item list-group-item-action" href="#list-item-5"><span>Claims Management</span></a>
            </li>

          </ul>
        </div>
        <div class="col-12 scroolSec" id="insureAIscrool">
          <div data-spy="scroll" (scroll)="onScroll($event)" data-target="#list-example" data-offset="0" class="scrollspy-example">
            <div id="list-item-1" class="list insuranceSlider">
              <figure>
                <img src="../assets/images/underwriting-Risk-Rating.jpg" alt="insurance" title="insurance">
                <div class="secData">
                  <h5>Underwriting and Risk Rating</h5>
                  <p>InsureAI assists underwriters in analysing data, premium prediction and relevant documents generation to speed up the underwriting process.</p>
                </div>
              </figure>
            </div>

            <div id="list-item-2" class="list insuranceSlider">
              <figure>
                <img src="../assets/images/customer-Servicing.jpg" alt="insurance" title="insurance">
                <div class="secData">
                  <h5>Customer Service</h5>
                  <p>Customer interaction is key to brand goodwill, customer retention and repeat business. Understanding customer queries and grievances, and creating fast and easy resolution processes, generates positive customer opinion. InsureAI employs NLP and AI assisted chat-bots to ensure customer service satisfaction.</p>
                </div>
              </figure>
            </div>
            <div id="list-item-3" class="list insuranceSlider">
              <figure>
                <img src="../assets/images/fraud-prevention.jpg" alt="insurance" title="insurance">
                <div class="secData">
                  <h5>Fraud Prevention</h5>
                  <p>InsureAI analyzes data streaming from known and unknown sources to flag concealment, suspect claims, transactions, document submissions or patterns of behaviour for immediate action.</p>
                </div>
              </figure>
            </div>
            <div id="list-item-5" class="list insuranceSlider">
              <figure>
                <img src="../assets/images/claims-Management.jpg" alt="insurance" title="insurance">
                <div class="secData">
                  <h5>Operational Efficiency and Claims Management</h5>
                  <p>Inefficiency in operations from application to premium servicing and claims settlements can impact revenue and customer satisfaction. Insurance application, underwriting and claims settlement processes can be streamlined, made faster and more accurate with InsureAI.</p>
                </div>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="shape">
      <div class="left"></div>

    </div>
  </section>