<section class="insureAI">
    <!-- <div class="container">
      <div class="row">
        <div class="col-6">
          <h2 class="SecTitle">InsureAI <span> - A Data Science Wizard's product</span></h2>
          <span>Harnessing the power of Data, employing Artificial Intelligence & Machine Learning</span>
          <ul>
            <li>
             <a href="">Underwriting & Risk Rating</a>
            </li>
            <li>
              <a href=""> Customer Servicing</a>
            </li>
            <li>
              <a href="">Fraud Detection</a>
            </li>
            <li>
              <a href=""> Claims Management</a>
            </li>
          </ul>
          <button type="submit" class="btn btn-primary">Learn more</button>
        </div>
        <div class="col-6 insuranceSlider">
          <figure>
            <img src="../assets/images/underwriting-Risk-Rating.jpg" alt="insurance" title="insurance">
            <div class="secData">
              <h5>UNDERWRITING & RISK RATING</h5>
              <p>InsureAI assists underwriters in analysing data, premium prediction and relevant documents generation to speed up the underwriting process.</p>
            </div>
          </figure>
        </div>
      </div>
    </div> -->
    <div class="insureAIContent">
    <div class="container" data-spy="scroll" data-target="#myScrollspy" data-offset="20">
      <div class="row">
        <div class="col-6">
          <h2 class="SecTitle">InsureAI <span> - A Data Science Wizard's product</span></h2>
          <span>Harnessing the power of Data, employing Artificial Intelligence & Machine Learning</span>
          <ul id="list-example" class="list-group">
            <li>
              <a class="list-group-item list-group-item-action active" href="#list-item-1"><span>Underwriting & Risk Rating</span></a>
            </li>
            <li>
              <a class="list-group-item list-group-item-action" href="#list-item-2"><span>Customer Servicing</span></a>
            </li>
            <li>
              <a class="list-group-item list-group-item-action" href="#list-item-3"><span>Fraud Detection</span></a>
            </li>
            <li>
              <a class="list-group-item list-group-item-action" href="#list-item-4"><span>Claims Management</span></a>
            </li>

          </ul>
        </div>
        <div class="col-6">
          <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
            <div id="list-item-1" class="list insuranceSlider">
              <figure>
                <img src="../assets/images/underwriting-Risk-Rating.jpg" alt="insurance" title="insurance">
                <div class="secData">
                  <h5>UNDERWRITING & RISK RATING</h5>
                  <p>InsureAI assists underwriters in analysing data, premium prediction and relevant documents generation to speed up the underwriting process.</p>
                </div>
              </figure>
            </div>

            <div id="list-item-2" class="list insuranceSlider">
              <figure>
                <img src="../assets/images/underwriting-Risk-Rating.jpg" alt="insurance" title="insurance">
                <div class="secData">
                  <h5>UNDERWRITING & RISK RATING</h5>
                  <p>InsureAI assists underwriters in analysing data, premium prediction and relevant documents generation to speed up the underwriting process.</p>
                </div>
              </figure>
            </div>
            <div id="list-item-3" class="list insuranceSlider">
              <figure>
                <img src="../assets/images/underwriting-Risk-Rating.jpg" alt="insurance" title="insurance">
                <div class="secData">
                  <h5>UNDERWRITING & RISK RATING</h5>
                  <p>InsureAI assists underwriters in analysing data, premium prediction and relevant documents generation to speed up the underwriting process.</p>
                </div>
              </figure>
            </div>
            <div id="list-item-4" class="list insuranceSlider">
              <figure>
                <img src="../assets/images/underwriting-Risk-Rating.jpg" alt="insurance" title="insurance">
                <div class="secData">
                  <h5>UNDERWRITING & RISK RATING</h5>
                  <p>InsureAI assists underwriters in analysing data, premium prediction and relevant documents generation to speed up the underwriting process.</p>
                </div>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="shape">
      <div class="left"></div>

    </div>
  </section>