<section class="insureAI">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h2 class="SecTitle">InsureAI <span> - A Data Science Wizard's product</span></h2>
          <span>Harnessing the power of Data, employing Artificial Intelligence & Machine Learning</span>
          <ul>
            <li>
             <a href="">Underwriting & Risk Rating</a>
            </li>
            <li>
              <a href=""> Customer Servicing</a>
            </li>
            <li>
              <a href="">Fraud Detection</a>
            </li>
            <li>
              <a href=""> Claims Management</a>
            </li>
          </ul>
          <button type="submit" class="btn btn-primary">Learn more</button>
        </div>
        <div class="col-6 insuranceSlider">
          <figure>
            <img src="../assets/images/underwriting-Risk-Rating.jpg" alt="insurance" title="insurance">
            <div class="secData">
              <h5>UNDERWRITING & RISK RATING</h5>
              <p>InsureAI assists underwriters in analysing data, premium prediction and relevant documents generation to speed up the underwriting process.</p>
            </div>
          </figure>
        </div>
      </div>
    </div>
    <div class="shape">
      <div class="left"></div>

    </div>
  </section>