.insureAI{
    position: relative;
     margin-bottom: 0;
     padding: 50px 0 80px;
     background-color: #fff;
     .insureAIContent{
         //background: #000926;
         padding: 0   ;
         position: relative;
         z-index: 3;
     }
     .scroolPosition{
         position: relative;
     }
     .container{
         padding: 40px 0;
         color: #fff;
         .SecTitle{
         margin: 0 0 10px;
         color: #fff;
             span{
                 color: #FF5D2E;
             }

         }

         .scroolSec{
             position: absolute;
             left: 0;
         }
         .nav-tabs{
            &.aiPlatfrom{
                border: none;
                display: flex;
                margin: 30px auto 50px;
                justify-content: center;
                position: relative;
                &::before{
                    content: '';
                    width: 100%;
                    height: 1px;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    background: rgb(255,255,255);
                    background: linear-gradient(90deg, rgba(255,255,255,0.01) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,0.01) 100%);
                }
                li{
                    margin:0 70px;
                    .nav-link{
                        background:transparent;
                        color: #B7B7B7;
                        border-radius: 0px;
                        border:none;
                        font-size: 20px;
                        padding: 10px;
                        position: relative;
                        font-weight: 600;
                        &::after{
                            content: '';
                            height: 3px;
                            width: 0%;
                            background-color: #FF5D2E;
                            position: absolute;
                            bottom: 0px;
                            left: 0;
                            border-radius: 10px;
                            transition: all .5s ease-in-out;
                        }
                        &.active, &:hover{
                            background:transparent;
                            color: #FF5D2E;
                            &::after{
                                width: 100%;
                            }

                        }

                    }
                }
            }
         }

         .insuranceSlider{
             z-index: 99;
             figure{
                 position: relative;
                 box-shadow: 0 0 20px #007bff;
                 h5{
                     font-weight: bold;
                 }
                 .secData{
                     position: absolute;
                     background-color: rgba(0,0,0, .4);
                     top: 50%;
                     left: 0;
                     padding: 20px;
                     margin-top: -60px;
                     h5{
                         text-transform: uppercase;
                         font-size: 22px;
                         margin-bottom: 20px;
                     }
                     p{
                        // font-size: 20px;
                     }
                 }
             }

         }

     }
     .maskGrid{
         height: 100%;
         width: 100%;
         background-color: #000926;
         transform: skewY(-4deg);
         position: relative;
         z-index: 2;
         .left {
            background-color: rgba(255, 172, 64, 0.871);
            border-radius: 0 33px 33px 0;
            height: 47px;
            left: 0px;
            position: absolute;
            top:-46px;
            width: 15%;
            &::before{
                content: '';
            background-color: rgba(255,102,0,0.6);
            border-radius:0  33px 33px 0;
            height: 40px;
            left: 0;
            position: absolute;
            width: 72%;
            top: -20px;
                }
             }
             .right {
                background-color: rgba(255, 172, 64, 0.871);
                border-radius: 33px 0 0 33px;
                height: 47px;
                right: 0px;
                position: absolute;
                bottom:-46px;
                width: 15%;
                &::before{
                    content: '';
                background-color: rgba(255,102,0,0.6);
                border-radius:33px 0 0 33px;
                height: 40px;
                right: 0;
                position: absolute;
                width: 72%;
                bottom: -20px;
                    }
                 }
     }

 .insurTitle{
     display: flex;
     flex-direction: column;
 }
 .tabLayout{
     display: flex;
     ul{
         width: 50%;
         border: none;
         margin: 0;
         padding-right: 60px;
         margin: 0;
         display: flex;
         justify-content: flex-start;
         flex-direction: column;
         li{
             display: flex;
             width: 100%;
             margin-bottom: 5px;
             a{
                 width: 60%;
                 padding:10px 30px;
                 border-radius: 0px;
                 border: none;
                 position: relative;
                 color: #fff;
                 transition: all .5s ease-in-out;
                 background-color: transparent;
                 font-size: 16px;
                 height: 45px;
                 &::before{
                     content: '';
                     height: 60%;
                     width: 2px;
                     background-color: #fff;
                     position: absolute;
                     left: 15px;
                     top: 50%;
                     margin-top:-15px ;
                 }
                 &::after{
                     content: '';
                     height: 0%;
                     width: 2px;
                     background-color: #FF5D2E;
                     position: absolute;
                     left: 15px;
                     top: 50%;
                     margin-top:-15px ;
                     transition: all .5s ease-in-out;
                 }
                 &.active, &:hover{
                     background-color:rgba(255,255,255, .2);
                     text-decoration: none;
                     font-size: 18px;


                     &::after{
                         height: 60%;
                     }
                 }

             }
         }
     }

     .tab-content{
         width: 50%;
     }
 }
 }
 .aiPlatfromCont{
     padding: 0 60px;
     height: 320px;
 }
 .scrollspy-example {
     position: relative;
     height: 410px;
     margin-top: .5rem;
     overflow-y: scroll;
     &::-webkit-scrollbar {
         display: none;
     }

     .list{
         padding:15px;
     }
 }
 .insureMore{
     position: relative;
     z-index: 999;
     margin-top: 15px;
     .btn{
         border-color: #fff;
         color: #fff;
     }
 }
 #insureAIscrool{
     &::-webkit-scrollbar-track
     {
         -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
         background-color: #F5F5F5;
     }

     &:-webkit-scrollbar
     {
         width: 10px;
         background-color: #F5F5F5;
     }

     &::-webkit-scrollbar-thumb
     {
         background-color: #000000;
         border: 2px solid #555555;
     }

 }

    .rList{
        width: 100%;
        display: flex;
        flex-direction: row;
        transition: all .5s ease-in-out;
        figcaption{
            display: flex;
            flex-direction: column;
            max-width: 50%;
            padding-right: 100px;
            h3{
               font-weight: bold;
               color: #fff;
               margin: 0px 0 30px;
               span{
                color: #FF5D2E;
               }
            }
            p{
                margin:20px 0;
                color: #fff;
                font-size: 16px;
                line-height: 26px;
            }
            .learnmore{
                display: flex;
                justify-content: flex-start;
                padding-top: 20px;
                .btn{
                 border-color: #fff;
                 color: #fff;
                }

            }
        }
        figure{
            position: relative;
            transition: all .5s ease-in-out;
            overflow: hidden;
            max-width:50%;
            height: auto;
            box-shadow: 0 0 20px #007bff;
            img{
                max-width: 100%;
                max-height: 100%;
                object-fit: cover;
            }
            .tag{
                position:absolute;
                top: 30px;
                left: 0;
                background-color: rgba(255, 93, 46, .6);
                color: #fff;
                font-size: 18px;
                padding: 10px 20px;
                border-radius: 0 6px 6px 0;
                z-index: 2;
            }
            &::after{
                content: '';
                width: 100%;
                height: 100%;
                background: rgba(0,0,0);
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                opacity: 0;
                transition: all .5s ease-in-out;
            }
        }
        // &:hover{

        //     figure{
        //         &::after{
        //             opacity: .5;
        //         }
        //         // img{
        //         //     -webkit-transform: scale(1.1);
        //         // -moz-transform: scale(1.1);
        //         // -o-transform: scale(1.1);
        //         // transform: scale(1.1);
        //         // }
        //     }
        // }
        &.two{
            flex-direction: row-reverse;
        }

    }


 @media screen and (max-width: 600px) {
     .insureAI{
        padding: 50px 0;
         .shape{
             .left{
                 top: -70px;
             }
         }
         .insureAIContent{
             .container{
                .aiPlatfrom{
                    margin: 20px auto;
                   // flex-direction: column;
                   justify-content: space-between;
                    li{
                        margin: 0 5px;
                    }
                }
                .aiPlatfromCont{
                    padding: 0;
                    height: auto;
                    .tabLayout{
                        .tab-content{
                            margin-top: 50px !important;
                        }
                        .nav-tabs{
                            .insurTitle{
                                h5{
                                    font-size: 14px;
                                    line-height: 22px;
                                }

                            }
                        }
                    }


                }
             }

         }
         .tabLayout{
             flex-direction: column;
             ul{
                 max-width: 100%;
                 width: 100% ;
                 padding: 0;
                 margin: 0;
                 li{
                     margin: 0;
                     a{
                         width: 100%;
                         font-size: 14px;
                         &.active{
                            font-size: 14px;
                         }
                     }
                 }
             }
             .tab-content{
                 width: 100%;
             }
             .insurTitle{
                 .SecTitle{
                     font-size: 20px;
                     padding: 15px 20px 0;
                     span{
                         padding: 0;
                         display: inline-flex;
                     }
                 }
                 span{
                     padding: 0 20px;
                 }

             }
         }
         .insureMore{

             .btn{
                 font-size: 14px;
             }
         }
         .container{
             padding: 15px;
             .insuranceSlider{
                 figure{
                     .secData{
                        padding: 10px;
                        margin: -40px 2px 0;
                        top: 50%;
                        text-align: center;
                         h5{
                             font-size: 16px;
                         }
                         p{
                             font-size: 12px;
                         }
                     }
                 }

             }
             .nav-tabs.aiPlatfrom{
                justify-content: flex-start;
                li{
                    .nav-link{
                        font-size: 14px;
                        padding: 10px 0px;
                    }
                }
             }
         }
         .maskGrid{
            transform: skewY(-6deg);
            .left {
                border-radius: 0 30px 30px 0;
                height: 24px;
                left: 0px;
                top:-12px;
                width: 20%;
                &::before{
                border-radius:0  30px 30px 0;
                height: 20px;
                top: -8px;
                width: 60%;
                    }
                    .line{
                        display: none;
                    }
                 }
                 .right {
                    border-radius: 30px 0 0 30px;
                    height: 24px;
                    right: 0px;
                    bottom:-12px;
                    width: 20%;
                    &::before{
                    border-radius:30px 0 0 30px;
                    height: 20px;
                    bottom: -8px;
                    width: 60%;
                        }
                        .line{
                            display: none;
                        }
                     }
                }

     }
     .rList{
        flex-direction: column;
        figcaption{
            max-width: 100%;
            padding: 0;
            margin-bottom: 50px;
            h5{
                font-size: 14px;
                line-height: 22px;
            }
            p{
                font-size: 14px;
                line-height: 20px;
                margin: 5px 0;
            }
            .learnmore{
                .btn{
                    font-size: 14px;
                }
            }
        }
        figure{
            max-width: 100%;
            padding: 0;
        }

    }

 }