<section class="insureAI" id="insure">
    <!-- <div class="container sticky-top">
      <div class="row">
        <div class="col-6">
          <h2 class="SecTitle">InsureAI <span> - A Data Science Wizard's product</span></h2>
          <span>Harnessing the power of Data, employing Artificial Intelligence & Machine Learning</span>
          <ul>
            <li>
             <a href="">Underwriting & Risk Rating</a>
            </li>
            <li>
              <a href=""> Customer Servicing</a>
            </li>
            <li>
              <a href="">Fraud Detection</a>
            </li>
            <li>
              <a href=""> Claims Management</a>
            </li>
          </ul>
          <button type="submit" class="btn btn-primary">Learn more</button>
        </div>
        <div class="col-6 insuranceSlider">
          <figure>
            <img src="../assets/images/underwriting-Risk-Rating.jpg" alt="insurance" title="insurance">
            <div class="secData">
              <h5>UNDERWRITING & RISK RATING</h5>
              <p>InsureAI assists underwriters in analysing data, premium prediction and relevant documents generation to speed up the underwriting process.</p>
            </div>
          </figure>
        </div>
      </div>
    </div> -->
    <!-- <div class="shape top">
      <div class="left"></div> -->

    <!-- </div> -->
    <div class="backGroundMask">
      <div class="maskGrid">
        <div class="left"></div>
        <div class="right"></div>
      </div>
     </div>
    <div class="insureAIContent">
      <div  class="container">
          <h3 class="SecTitle text-center"><strong>Our AI platform solutions</strong></h3>
        <ul ngbNav #nav2="ngbNav" class="nav-tabs aiPlatfrom">
            <li ngbNavItem>
              <a ngbNavLink>InsureAI</a>
              <ng-template ngbNavContent>
                <div class="tabLayout">
                    <ul ngbNav #nav="ngbNav" class="nav-tabs">
                      <li class="insurTitle">
                        <!-- <h2 class="SecTitle">InsureAI </h2> -->
                        <h5>Harnessing the power of Data, employing Artificial Intelligence & Machine Learning</h5></li>
                      <li ngbNavItem>
                        <a ngbNavLink>Underwriting & Risk Rating</a>
                        <ng-template ngbNavContent>
                          <div class="list insuranceSlider animate__animated animate__bounceInRight">
                            <figure>
                              <img src="../assets/images/Underwriting-risk-rating.png" alt="insurance" title="insurance">
                              <div class="secData">
                                <!-- <h5>Underwriting and Risk Rating</h5> -->
                                <p>InsureAI assists underwriters in analysing data and relevant document generation to speed up the underwriting process.
                                </p>
                              </div>
                            </figure>
                          </div>
                        </ng-template>
                      </li>
                      <li ngbNavItem>
                        <a ngbNavLink>Fraud Prevention</a>
                        <ng-template ngbNavContent>
                          <div class="list insuranceSlider animate__animated animate__bounceInRight">
                            <figure>
                              <img src="../assets/images/fraud-Detection.png" alt="insurance" title="insurance">
                              <div class="secData">
                                <!-- <h5>Fraud Prevention</h5> -->
                                <p>InsureAI solutions can help analyze data sources to flag opportunistic or organised fraud, including concealment, falsification and suspect patterns of behaviour, for immediate action.
                                </p>
                              </div>
                            </figure>
                          </div>
                        </ng-template>
                      </li>

                      <li ngbNavItem>
                        <a ngbNavLink>Claims Management</a>
                        <ng-template ngbNavContent>
                          <div class="list insuranceSlider animate__animated animate__bounceInRight">
                            <figure>
                              <img src="../assets/images/claims-Managemetnt.png" alt="insurance" title="insurance">
                              <div class="secData">
                                <!-- <h5>Claims Management</h5> -->
                                <p>InsureAI is built to streamline and fast-track the entire claims process. It offers data science enabled solutions that can verify policies, check for fraud, match to settlement rules, approve and process payments.
                                </p>
                              </div>
                            </figure>
                          </div>
                        </ng-template>
                      </li>
                      <li ngbNavItem>
                        <a ngbNavLink>Customer Servicing</a>
                        <ng-template ngbNavContent>
                          <div class="list insuranceSlider animate__animated animate__bounceInRight">
                            <figure>
                              <img src="../assets/images/custSvr.png" alt="insurance" title="insurance">
                              <div class="secData">
                                <!-- <h5>Customer Service</h5> -->
                                <p>Customer interaction is key to brand goodwill, customer retention and repeat business. InsureAI employs NLP and AI assisted chat-bots to ensure customer service satisfaction.</p>
                              </div>
                            </figure>
                          </div>
                        </ng-template>
                      </li>
                      <li><div class="insureMore"><button  routerLink="/solutions/insureAi" class="btn btn-outline-primary btn-lg">View all use cases</button></div></li>
                    </ul>

                    <div [ngbNavOutlet]="nav" class="mt-2"></div>
                  </div>

              </ng-template>
            </li>

            <li ngbNavItem>
                <a ngbNavLink>DevOps Insights Workbench</a>
                <ng-template ngbNavContent>
                    <div class="rList">

                        <figcaption>
                          <h5>Leveraging DevOps & continuously improve Business outcome</h5>
                         <!-- <h3>DevOps Workbench </h3> -->
                            <p>Stay ahead of the curve. Gain a head start on competition with increased agility, reliability and turnaround times for better business outcomes. </p><p>Holistic views which enable DevOps Engineers, Technology Leaders & Executives to make Informed Decisions , observe Product Health from "Code Commit to Deployment" across environments.</p>
                            <div class="learnmore">
                              <button class="btn btn-outline-primary btn-lg" routerLink="/contactUs">Explore more</button>
                             </div>
                          </figcaption>
                          <figure class="animate__animated animate__bounceInRight">
                            <img src="../assets/images/DevOps.png" alt="DevOps Workbench" title="DevOps Workbench" >
                          </figure>

                    </div>
                </ng-template>
              </li>
              <li ngbNavItem>
                <a ngbNavLink>Logwiz <sup>Beta</sup></a>
                <ng-template ngbNavContent>
                  <div class="rList one">
                    <figcaption>
                      <h5>Intelligent Log Management & Monitoring Solution</h5>

                        <p>Integrated Infrastructure that enables enhanced threat management system with the power of AI. Gain faster anomaly or threat detection, analysis and response times. </p><p>Centralized log management to derive insights & bring the power of anomaly detection, predictive intelligence and capacity planning.</p>
                        <div class="learnmore">
                         <button class="btn btn-outline-primary btn-lg" routerLink="/contactUs">Explore more</button>
                        </div>
                      </figcaption>
                      <figure class="animate__animated animate__bounceInRight">
                        <img src="../assets/images/Logwiz.png" alt="Logwiz" title="Logwiz" >
                      </figure>

                  </div>
                </ng-template>
              </li>
          </ul>

          <div [ngbNavOutlet]="nav2" class="mt-2 aiPlatfromCont"></div>

  </div>

  </div>
    <!-- <div class="shape">
      <div class="left"></div>
    </div> -->

  </section>