
<section class="footerDemo">
  <div class="backGroundMask">
    <div class="maskGrid">
      <div class="left"></div>
      <!-- <div class="right"></div> -->
    </div>
   </div>
    <div class="container">
      <div class="footerDemoinn">
        <h3>Experience the power of Artificial Intelligence at work</h3>
        <p>Get free advice, guidance on deployments and an exclusive<br/>
          look at how AI can transform business.</p>
          <div class="rquBtn">
            <button class="btn btn-outline-primary btn-lg" routerLink="/contactUs">Book a test drive</button>
          </div>
      </div>
    </div>
  </section>