* {
  box-sizing: border-box;
}

@import "~react-image-gallery/styles/css/image-gallery.css";

.image-gallery {
  width: 1200px;
}

.image-gallery img {
  display: block;
}

.gallerySlider .image-gallery-content.right .image-gallery-slide .image-gallery-image {
  max-height: inherit;
}

.image-gallery-slide-wrapper.right {
  width: 570px;
}

.image-gallery-thumbnails-wrapper.right {
  width: 600px;
  margin: 0 0 0 10px;
}

.image-gallery-thumbnails .image-gallery-thumbnails-container {
  display: flex;
  flex-wrap: wrap;
}

.image-gallery-thumbnail {
  width: 186px;
  border: 5px solid transparent;
}

.image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails .image-gallery-thumbnail+.image-gallery-thumbnail {
  margin-top: 0px;
}

.image-gallery-thumbnail:hover {
  border: 5px solid #337ab7;
}

.fullscreen .image-gallery-slide-wrapper.right {
  width: calc(100% - 110px);
}

.fullscreen .image-gallery-thumbnails-wrapper.right {
  width: 100px;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:hover,
.image-gallery-thumbnail:focus {
  border: 0px solid #337ab7;
}
.image-gallery-thumbnail{border: 0;}
.image-gallery-thumbnail .image-gallery-thumbnail-inner{    padding: 5px;}
.image-gallery-thumbnail.active img{outline: 4px solid #F26F22;}
.image-gallery-thumbnail:hover img {outline: 4px solid #F26F22;}