<section class="resources">
  <h2 class="SecTitle text-center">Resources</h2>
  <div class="resSec">
    <div class="container">
<div class="web">
    <div class="listing resourceslist row">
      <carousel [cellsToShow]="3" class="carouselHeight" [arrows]='false'>
        <div class="carousel-cell">
          <div class="rList">
            <figure>
              <img src="../assets/images/insurance-blog.jpg" alt="insurance" title="insurance">
            </figure>
            <figcaption>
              <span class="tag"><span>Blog</span></span>
              <p>Evolution of Indian Insurance Business - Vedic Ages to British Raj</p>
            </figcaption>
          </div>
        </div>
        <div class="carousel-cell">
          <div class="rList">
            <figure>
              <img src="../assets/images/Data-science-job-trends-Blog.jpg" alt="insurance" title="insurance">
            </figure>
            <figcaption>
              <span class="tag"><span>Blog</span></span>
              <p>Data Science Job Trends In India - You should know</p>
            </figcaption>
          </div>
        </div>
        <div class="carousel-cell">
          <div class="rList">
            <figure>
              <img src="../assets/images/data-science-training.jpg" alt="insurance" title="insurance">
            </figure>
            <figcaption>
              <span class="tag"><span>TRAINING</span></span>
              <p>Data Science Foundations (Weekend Batch) - Starting from 24th April 2021</p>
            </figcaption>
          </div>
        </div>
</carousel>
    </div>
  </div>

  <div class="mob">
    <div class="listing resourceslist row">
      <carousel [cellsToShow]="1" class="carouselHeight" [arrows]='false'>
        <div class="carousel-cell">
          <div class="rList">
            <figure>
              <img src="../assets/images/insurance-blog.jpg" alt="insurance" title="insurance">
            </figure>
            <figcaption>
              <span class="tag"><span>Blog</span></span>
              <p>Evolution of Indian Insurance Business - Vedic Ages to British Raj</p>
            </figcaption>
          </div>
        </div>
        <div class="carousel-cell">
          <div class="rList">
            <figure>
              <img src="../assets/images/Data-science-job-trends-Blog.jpg" alt="insurance" title="insurance">
            </figure>
            <figcaption>
              <span class="tag"><span>Blog</span></span>
              <p>Data Science Job Trends In India - You should know</p>
            </figcaption>
          </div>
        </div>
        <div class="carousel-cell">
          <div class="rList">
            <figure>
              <img src="../assets/images/data-science-training.jpg" alt="insurance" title="insurance">
            </figure>
            <figcaption>
              <span class="tag"><span>TRAINING</span></span>
              <p>Data Science Foundations (Weekend Batch) - Starting from 24th April 2021</p>
            </figcaption>
          </div>
        </div>
</carousel>
    </div>
  </div>

  </div>
</div>
</section>