<section class="resources">
    <div class="container">
    <h2 class="SecTitle text-center">Resources</h2>
    <div class="listing resourceslist">
      <div class="rList">
        <figure>
          <img src="../assets/images/insurance-blog.jpg" alt="insurance" title="insurance">
          <span class="tag">Blog</span>
        </figure>
        <figcaption>
          <p>Evolution of Indian Insurance Business - Vedic Ages to British Raj</p>
        </figcaption>
      </div>
      <div class="rList">
        <figure>
          <img src="../assets/images/insurance-blog.jpg" alt="insurance" title="insurance">
        </figure>
        <figcaption>
          <p>Evolution of Indian Insurance Business - Vedic Ages to British Raj</p>
        </figcaption>
      </div>
      <div class="rList">
        <figure>
          <img src="../assets/images/insurance-blog.jpg" alt="insurance" title="insurance">
        </figure>
        <figcaption>
          <p>Evolution of Indian Insurance Business - Vedic Ages to British Raj</p>
        </figcaption>
      </div>
    </div>
    <div class="explor text-center"> <button type="submit" class="btn btn-primary">Explore more</button></div>
  </div>
</section>