<section class="headerSec">
    <video controls loop muted autoplay class="headerbanner">
      <source src="../assets/images/HOME_PAGE_LOOP_VIDEO.mp4" type="video/mp4">
    </video>
    
    <div class="banner">
      <div class="container">
        <h1>Unlock the power of AI </h1>
        <h4>Build with hybrid open source, data science <br />
          and Artificial Intelligence, ethically applied.</h4>
  
        <button type="button" class="btn btn-outline-primary">Want to know more</button>
  
      </div>
    </div>
</section>
<br/><br/>
<app-feature></app-feature>
<app-insure></app-insure>
<app-usecase></app-usecase>
<app-training></app-training>
<app-resources></app-resources>
<app-testimonial></app-testimonial>