.homepage{
    // background-image: url(../../../assets/images/homeBanner.svg);
    // background-position: center top;
    // //background-attachment: fixed;
    // background-repeat: no-repeat;
    // background-size: 100% auto;
    // margin-top: -100px;

}
.headerSec{
position: relative;
background-image: url(../../../assets/images/homeBanner.svg);
background-color: #fff;
background-position: center top;
//background-attachment: fixed;
background-repeat: no-repeat;
background-size: 100% 100%;
margin-top: -70px;
.headerbanner{
    width: 100%;
    position: absolute;
    top: -70px;
    left: 0;
    z-index: 1;

}
.shape{
    background-color: #fff;
    &::before{
        border-bottom: 100px solid #fff;
        top: -115px;
    }
    .line{
        position: relative;
        &::before{
            content: '';
            height: 1px;
            width: 170px;
            background-color: #FF5D2E;
            position: absolute;
            left: -220px;
            top: 70px;
            display: flex;
        }
        &::after{
            content: '';
            height: 1px;
            width: 170px;
            background-color: #FF5D2E;
            position: absolute;
            left: -260px;
            top: 46px;
            display: flex;
        }
    }
    .left{
        position: relative;
        top: -48px;
        &::before{
            top: 27px;
        }
    }
    .right{
        background-color:rgba(0, 83, 195, .8);
        top: -135px;
        &::before{
            background-color:rgba(82, 197, 233, .8);
        }
        .line{
            &::before{
                background-color: #53B8FC;
                left: 290px;
                top: 0px;

            }
            &::after{
                background-color: #53B8FC;
                left: 237px;
                top: -26px;
            }
        }

    }
}
.banner{
    position: relative;
    z-index: 2;
    //padding: 0px 0 100px;
    .container{
        padding: 270px 0 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            color: #ff5d2e;
            font-weight: bolder;
        }
        h4{
            font-weight: normal;
            color: #fff;
            line-height: 30px;
            padding: 20px 0 30px;
            text-align: center;
        }
    }
    .bannerClick{
        margin-top: 30px;
        .btn{
            padding-left: 30px;
            padding-right: 30px;
            border-color: #fff;
            color: #fff;
        }
    }

}
}
@media screen and (max-width: 600px) {
    .homepage{
        background-size: 160% auto;
    }
    .headerSec{
        background-size: cover;
        .banner{
            padding: 0;
            .container{
                padding: 100px 10px 135px;
                h1{
                    font-size: 20px;
                    text-align: center;
                }
                h4{
                    font-size: 14px;
                    text-align: center;
                    line-height: 22px;
                    padding: 10px 30px;
                }
                .bannerClick{
                    margin-top: 0;
                    .btn{
                        font-size: 14px;
                        margin-bottom: 30px;
                    }
                }
            }
        }
        .shape{
            &::before{
                top: -99px;
            }
            .right{
                height: 30px;
                width: 100px;
                top: -112px;
                &::before{
                    height: 25px;
                    right: 30px;
                }
                .line{
                    &::before{
                        left: 120px;
                    }
                    &::after{
                        left: 90px;
                        top: -14px;
                    }
                }
            }
            .line{
                &::before{
                    width: 60px;

                }
                &::after{
                    width: 60px;
                }



            }
        }
    }
}