<section class="homepage">
  <section class="headerSec">
    <!-- <video  autoplay="autoplay" loop="loop" muted defaultMuted playsinline class="headerbanner">
       <video controls loop autoplay class="headerbanner"> -->
        <!-- <source src="../assets/images/HOME_PAGE_LOOP_VIDEO.mp4" type="video/mp4">
      </video> -->

      <div class="banner">
        <div class="container">
          <h1>Transform with Artificial Intelligence</h1>
          <h4>Modernise with data-driven,<br/> open source solutions that fuel innovation</h4>
  <div class="bannerClick">
    <button type="button" class="btn btn-outline-primary btn-lg">View Platform Solutions</button>
  </div>


        </div>
      </div>
      <div class="shape">
        <div class="left">
          <div class="line"></div>
        </div>
        <div class="right">
          <div class="line"></div>
        </div>
      </div>
  </section>
<app-feature></app-feature>
<app-insure-tab></app-insure-tab>
<app-training></app-training>
<app-resources></app-resources>
<app-testimonial></app-testimonial>
<app-test-drive></app-test-drive>

<div class="modal fade" id="requestdemo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Request a Demo</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <input type="text" class="form-control" id="name1" placeholder="Name">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" id="email" placeholder="email">
                </div>
                <div class="form-group">
                  <input type="phone" class="form-control" id="phone" placeholder="Phone">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="country" placeholder="Country">
                </div>
                <div class="form-group">
                  <select class="form-control" id="query" aria-placeholder="Select your query">
                    <option selected> Select your query</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </section>
