.pageBanner{
    background-image: url(../../assets/images/aboutBnr.png);
    background-color: #000926;
    //background-size: 100%;
    background-position:left ;
    background-repeat: no-repeat;
    overflow: hidden;
    .pageTitl{
        color: #fff;
        text-align: center;
        padding: 100px 0 210px;
    }
}
.pageLayout{
    position: relative;
    .maskGrid{
        height: 100%;
        width: 100%;
        background-color: #fff;
        transform: skewY(-4deg);
        position: relative;
        z-index: 1;
        .left {
            background-color: rgba(255, 172, 64, 0.871);
            border-radius: 0 33px 33px 0;
            height: 47px;
            left: 0px;
            position: absolute;
            bottom:0px;
            width: 15%;
            &::before{
                content: '';
            background-color: rgba(255,102,0,0.6);
            border-radius:0  33px 33px 0;
            height: 40px;
            left: 0;
            position: absolute;
            width: 72%;
            bottom:26px;
                }
             }
             .right {
                background-color: rgba(255, 172, 64, 0.871);
                border-radius:33px 0 0 33px;
                height: 47px;
                right: 0px;
                position: absolute;
                top:0px;
                width: 15%;
                &::before{
                    content: '';
                background-color: rgba(255,102,0,0.6);
                border-radius:33px 0 0 33px;
                height: 40px;
                right: 0;
                position: absolute;
                width: 72%;
                top:24px;
                    }
                 }
    }
}
.aboutusContSec{
    //background-color: #fff;
    padding: 80px 0 50px;
    position: relative;
    z-index: 2;
    margin-top: -100px;
    .everyone{
        text-align: center;
    }
}
.aboutsecOne{
    position: relative;
    padding: 30px 0;
    margin: 100px 0 80px;
    z-index: 2;
    &::before{
        content: '';
        height: 100%;
        width: 30%;
        border:4px solid #FF5D2E;
        position: absolute;
        top: 0;
        left: 0;
        border-left: none;
    }
}
.aboutsecTwo{
    position: relative;
    padding: 30px 0;
    margin: 80px 0;
    &::before{
        content: '';
        height: 100%;
        width: 30%;
        border:4px solid #FF5D2E;
        position: absolute;
        top: 0;
        right: 0;
        border-right: none;
    }
}
.tcp{
    background-color: #F2F6FC;
    position: relative;
    z-index: 2;
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        .SecTitle{
            margin: 50px 0;
        }
        .technologypartners{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 60px;
.logo{
    padding: 0 50px;
    height: 40px;
    display: flex;
    max-height: 40px;
    img{
        height: 100%;
    }
    &.nasco{
       height:25px;
    }
}
        }
    }


}
.ourTeam{
    background-color: #fff;
    padding:0 0 50px;
    position: relative;
    z-index: 4;
    .container{
        display: flex;
        align-items: center;
        flex-direction: column;
        .SecTitle{
            margin: 60px 0 30px;
        }
        .teams{
            display: flex;
            align-items: center;
            margin: 30px 0;
            .teamMember{
                margin: 0 30px;
                width: 210px;
                overflow: hidden;
                position: relative;
                transition: all .5s ease-in-out;
                cursor: pointer;
                figure{
                    margin: 0;
                    position: relative;
                    max-width: 250px;
                    img{
                        height: 100%;
                        width: 100%;
                    }
                    h5{
                        position: absolute;
                        bottom: 0;
                        text-align: center;
                        width: 100%;
                        background: #f0f0f0;
                        margin: 0;
                        padding: 7px;
                        font-size: 16px;
                        transition: all .6s ease-in-out;
                        opacity: 1;
                    }
                    &::after{
                        content: '';
                        background: rgb(255 241 241 / 40%);
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        transition: all .5s ease-in-out;
                        opacity: 0;
                        top: 0;
                        left: 0;
                    }

                }
                figcaption{
                    background-color: #000926;
                    position: relative;
                    bottom:0;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    padding: 10px;
                    transition: all .6s ease-in-out;
                    color: #fff;
                    height: 83px;
                    justify-content: flex-start;
                    align-items: center;
                    text-align: center;
                    h5{
                        font-size: 16px;
                    }
                    p{
                        font-size: 12px;
                        color: #888;
                        margin: 0;
                    }
                    a{
                    position: absolute;
                    top: -15px;
                    left: 50%;
                    margin-left: -10px;
                    opacity: 0;
                    transition: all .5s ease-in-out;

                        span{
                            background-color: #fff;
                            padding: 12px;
                            border-radius: 50%;
                            height: 24px;
                            width: 24px;
                            background-position: -1px -45px;
                            box-shadow: 0 0 2px #000;

                        }
                    }
                }
                &:hover{
                    figure{
                        &::after{
                            opacity: 1;
                        }

                    }
                    figcaption{
                        bottom: 0;
                        a{
                            opacity: 1;
                        }
                    }
                }
            }

        }
    }
}
.footerDemo{
    position: relative;
    padding-top: 50px;
    padding:0 ;
    margin-top: -50px;
    .maskGrid{
        height: 100%;
        width: 100%;
        background-color: #F2F6FC;
        transform: skewY(-4deg);
        position: relative;
        z-index: 3;
    }
    .container{
        position: relative;
        padding:100px 0 80px;
        z-index: 9;
        .footerDemoinn{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h3{
                color:#002c67 ;
                font-weight: 800;
                margin-bottom: 50px;
            }

            .rquBtn{
                .btn{
                    border-width: 3px;
                    width: 250px;
                    transition: all .5s ease-in-out;
                    -webkit-transition: all .5s ease-in-out;
                    -moz-transition: all .5s ease-in-out;
                    -o-transition: all .5s ease-in-out;
                    -ms-transition: all .5s ease-in-out;
                    transition: all .5s ease-in-out;
                    // &:hover{
                    //     -webkit-transform: scale(1.1);
                    //     -moz-transform: scale(1.1);
                    //     -o-transform: scale(1.1);
                    //     transform: scale(1.1);
                    // }
                }
            }
        }

    }
    }
    @media screen and (max-width: 600px) {
        // .pageBanner{
        //     background-size: 100% 100%;
        //     object-fit: cover;
        //     .pageTitl{
        //         padding: 30px 0 130px;
        //         font-size: 25px;
        //     }
        // }
        .tcp{
            .container{
                .technologypartners{
                    flex-wrap: wrap;
                    justify-content: center;
                    margin: 0 0 10px;

                    .logo{
                        padding: 0 10px 10px;
                    }
                }
            }
        }
        .ourTeam{
            .container{
                .teams{
                    display:flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    margin: 30px 0 0;
                    .teamMember{
                        width: 45%;
                        margin: 0 2% 20px;
                        figure{
                            height: auto;
                            min-height: 190px;
                        }
                    }
                }
                .SecTitle{
                    margin: 20px 0 0;
                }
            }

        }
        .footerDemo{
            .container{
                padding: 30px 0 130px;
                .footerDemoinn{
                    h3{
                        font-size: 16px;
                        margin-bottom: 30px;
                    }
                    .rquBtn{
                        .btn{
                            width: auto;
                        }
                    }
                }
            }
        }
        .aboutusContSec{
            padding: 0 0 30px;
        }
        .aboutsecOne, .aboutsecTwo{
            margin: 50px 0;
            div[class*="col-"]{
                flex: 0 0 100%;
                max-width: 100%;
                background-color: #fff;
            }
            .SecTitle{
                margin: 20px 0;
            }
        }
        .aboutsecTwo{
            .intelligent{
                flex-direction: column-reverse;
            }
        }
    }
