<section class="pageBanner">
    <div class="container">
        <h2 class="pageTitl">About Us</h2>
    </div>
    </section>
    <section class="pageLayout">
      <div class="backGroundMask">
        <div class="maskGrid">
          <div class="left"></div>
          <div class="right"></div>
        </div>
       </div>
    <section class="aboutusContSec">
        <div class="container">
          <div class="everyone">
          <h2 class="SecTitle">Everyone can go AI</h2>
          <p>
            As the applications of Artificial Intelligence gain momentum in everyday life, we aim to nurture its ecosystem<br/>
            with data-driven, open-source technology solutions and training that benefit businesses, <br/>customers, communities
            and stakeholders. We are building the world of tomorrow.<br/>
            We are accelerating the next wave of change. For everyone.
          </p>
        </div>
        </div>
        <div class="aboutsecOne">
          <div class="container">
            <div class="row intelligent">
              <div class="col-6">
                <img src="../../assets/images/our-Approach-1.jpg" alt=""/>
              </div>
              <div class="col-6">
                <h2 class="SecTitle">We are wizards of intelligent change</h2>
                <p>Headquartered in Mumbai, India, DSW is a visionary technology start-up, that merges over 70 years of industry experience.</p>

                 <p>As experts in augmenting Human Intelligence with Artificial Intelligence, we are pushing the boundaries of what can be, with ethical, data-driven, open source solutions that are agile, customisable, scalable and powerful.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="aboutsecTwo">
          <div class="container">
            <div class="row intelligent">

              <div class="col-6">
                <h2 class="SecTitle">Our approach</h2>
                <p>We infuse businesses with predictive, AI driven thinkingthrough collaboration and partnership. Our data management and engineering consultancy enables customers to use data more effectively in boosting outcomes.</p>

                <p> We offer solutions that are a best-fit for BFSI, Telecom, Healthcare and IT solution reliant business verticals.Teamed with our intelligent platform solutions, we add AI capabilities to DevOps, IT Ops and align IT business transactions to business objectives.</p>
              </div>
              <div class="col-6 text-right">
                <img src="../../assets/images/our-Approach.jpg" alt=""/>
              </div>
            </div>
          </div>
        </div>
    </section>
    <section class="tcp">
      <div class="container">
        <h2 class="SecTitle">Technology partners</h2>
        <div class="technologypartners pb-5">
         <div class="logo">
          <img src="../../assets/images/aboutUs/F5_Networks_logo.png" alt="f5"/>
         </div>
         <!-- <div class="logo">
          <img src="../../assets/images/aboutUs/IBM_logo.png" alt="IBM"/>
         </div> -->
         <div class="logo">
          <img src="../../assets/images/aboutUs/amazon-aws-logo-transparent.png" alt="Amazon"/>
         </div>
         <div class="logo">
          <img src="../../assets/images/aboutUs/azu.png" alt="azu"/>
         </div>

        </div>
        <h2 class="SecTitle">Memberships & Community partners</h2>
        <div class="technologypartners">
          <div class="logo">
           <img src="../../assets/images/aboutUs/startUp.png" alt="StartUpindia"/>
          </div>
          <div class="logo nasco">
           <img src="../../assets/images/aboutUs/nasco.png" alt="Nasscom"/>
          </div>
          <div class="logo">
           <img src="../../assets/images/aboutUs/openIN.png" alt="Open Innovation Network"/>
          </div>

         </div>
      </div>
    </section>
    <section class="ourTeam">
      <div class="container">
        <h2 class="SecTitle">Meet Our Team</h2>
        <div class="teams">
          <div class="teamMember">
            <a class="link fList" target="_blank" href="https://www.linkedin.com/in/pritesh-tiwari-b129a6a6/">
            <figure>
              <img src="../../assets/images/aboutUs/priteshTiwari.png" alt="Pritesh Tiwari"/>
            </figure>
            <figcaption>
              <span class="iconsprt social linkd"></span>
              <h5>Pritesh Tiwari</h5>
              <p>Founder & Lead Data Scientist</p>
            </figcaption></a>
          </div>
          <div class="teamMember">
            <a class="link fList" target="_blank"  href="https://www.linkedin.com/in/skt7/">
            <figure>
              <img src="../../assets/images/aboutUs/shivamThakkar.png" alt="Shivam Thakkar"/>
            </figure>
            <figcaption>
             <span class="iconsprt social linkd"></span>
              <h5>Shivam Thakkar</h5>
              <p>Founder & AI Lead</p>
            </figcaption></a>
          </div>
          <div class="teamMember">
            <a class="link fList" target="_blank"  href="https://www.linkedin.com/in/sandeepkhuperkar/">
            <figure>
              <img src="../../assets/images/aboutUs/sandeepKhuperkar.png" alt="Sandeep Khuperkar"/>
            </figure>
            <figcaption>
              <span class="iconsprt social linkd"></span>
              <h5>Sandeep Khuperkar</h5>
              <p> Co-Founder and CEO</p>
            </figcaption></a>
          </div>
        </div>


        <div class="teams">
          <div class="teamMember">
            <a class="link fList" target="_blank"  href="https://www.linkedin.com/in/shailesh-arya-6646151b/">
            <figure>
              <img src="../../assets/images/aboutUs/shaileshArya.png" alt="Shailesh Arya"/>
            </figure>
            <figcaption>
              <span class="iconsprt social linkd"></span>
              <h5>Shailesh Arya</h5>
              <p>Sales & Business Dev. Lead</p>
            </figcaption></a>
          </div>
          <div class="teamMember">
            <a class="link fList" target="_blank"  href="https://www.linkedin.com/in/sandhyaoza22/">
            <figure>
              <img src="../../assets/images/aboutUs/sandhyaOza.png" alt="Sandhya Oza"/>
            </figure>
            <figcaption>
              <span class="iconsprt social linkd"></span>
              <h5>Sandhya Oza</h5>
              <p>Content & Project Manager</p>
            </figcaption></a>
          </div>
        </div>
        <h2 class="SecTitle">Meet Our Advisors</h2>
        <div class="teams">
          <div class="teamMember">
            <a class="link" target="_blank"  href="https://www.linkedin.com/in/seethala-upendra-rao-03802736/">
            <figure>
              <img src="../../assets/images/aboutUs/drUpendraRao.png" alt="Dr. Upendra Rao"/>
            </figure>
            <figcaption>
              <span class="iconsprt social linkd"></span>
              <h5>Dr. Upendra Rao</h5>
              <p>Independent IT & Enterprise Architecture Consultant at NeGD, (Ex-CTO SBI)</p>
            </figcaption></a>
          </div>
          <div class="teamMember">
            <a class="link" target="_blank"  href="https://www.linkedin.com/in/hemantadarkar/">
            <figure>
              <img src="../../assets/images/aboutUs/hemantAdarkar.png" alt="Hemant Adarkar"/>
            </figure>
            <figcaption>
              <span class="iconsprt social linkd"></span>
              <h5>Hemant Adarkar</h5>
              <p>Enterprise Architect in BFSI, <br/>(Ex-CTO Nanital Bank)<br/> (Ex-Interim CIO Aviva India)</p>
            </figcaption></a>
          </div>
          <div class="teamMember">
            <a class="link" target="_blank"  href="https://www.linkedin.com/in/dr-rajeev-papneja-98749243/">
            <figure>
              <img src="../../assets/images/aboutUs/drRajeevPapneja.png" alt="Dr. Rajeev Papneja"/>
            </figure>
            <figcaption>
              <span class="iconsprt social linkd"></span>
              <h5>Dr. Rajeev Papneja</h5>
              <p>Chief Growth Officer & Technology<br/> Evangelist at ESDS <br/>Software Solution Pvt Ltd.</p>
              <!-- <p>ESDS Software Solution Pvt Ltd.</p> -->
            </figcaption></a>
          </div>

        </div>
        <h2 class="SecTitle">Meet Our Mentors</h2>

        <div class="teams">
          <div class="teamMember">
            <a class="link trdList" target="_blank"  href="https://www.linkedin.com/in/vijaya-nene-7b558276/">
            <figure>
              <img src="../../assets/images/aboutUs/vijayaNene.png" alt="Vijaya Nene"/>
            </figure>
            <figcaption>
              <span class="iconsprt social linkd"></span>
              <h5>Vijaya Nene</h5>
              <p>Founder at Vijaya Nene Academy</p>
            </figcaption></a>
          </div>
          <div class="teamMember">
            <a class="link trdList" target="_blank"  href="https://www.linkedin.com/in/dr-shruti-mantri-ab473111/">
            <figure>
              <img src="../../assets/images/aboutUs/drShrutiMantri.png" alt="Dr. Shruti Mantri"/>
            </figure>
            <figcaption>
             <span class="iconsprt social linkd"></span>
              <h5>Dr. Shruti Mantri</h5>
              <p>Associate Director at Indian School of Business</p>
            </figcaption></a>
          </div>
          <div class="teamMember">
            <a class="link trdList" target="_blank"  href="https://www.linkedin.com/in/ritesh-tiwari-47242647/">
            <figure>
              <img src="../../assets/images/aboutUs/riteshTiwari.png" alt="Ritesh Tiwari"/>
            </figure>
            <figcaption>
              <span class="iconsprt social linkd"></span>
              <h5>Ritesh Tiwari</h5>
              <p>Manager - Digital Products at Ominio Group of London</p>
            </figcaption></a>
          </div>
          <div class="teamMember">
            <a class="link trdList" target="_blank"  href="https://www.linkedin.com/in/moru-dhaygude-09709211/">
            <figure>
              <img src="../../assets/images/aboutUs/moreshwarDhaygude.png" alt="Moreshwar Dhaygude"/>
            </figure>
            <figcaption>
              <span class="iconsprt social linkd"></span>
              <h5>Moreshwar Dhaygude</h5>
              <p>Lecturer</p>
            </figcaption></a>
          </div>
        </div>

      </div>
    </section>
    <section class="footerDemo">
      <div class="backGroundMask">
        <div class="maskGrid">
          <div class="left"></div>
        </div>
       </div>
      <div class="container">
        <div class="footerDemoinn">
          <h3>That's our story. Now we want to hear yours.</h3>
            <div class="rquBtn">
              <button class="btn btn-outline-primary btn-lg" routerLink="/contactUs">Contact Us</button>
            </div>
        </div>
      </div>
    </section>
  </section>