<section class="pageBanner">
    <div class="container">
        <h2 class="pageTitl">About us Page</h2>
    </div>
    <div class="shape">
        <!-- <div class="left"></div> -->
        <!-- <div class="right"></div> -->
      </div>
    </section>
    <section class="aboutusContSec">
        <div class="container">
          <div class="everyone">
          <h2 class="SecTitle">Everyone can go AI</h2>
          <p>
            As the applications of Artificial Intelligence gain momentum in everyday life, we aim to nurture its ecosystem<br/>
            with data-driven, open-source technology solutions and training that benefit businesses, <br/>customers, communities
            and stakeholders. We are building the world of tomorrow.<br/>
            We are accelerating the next wave of change. For everyone.
          </p>
        </div>
        </div>
        <div class="aboutsecOne">
          <div class="container">
            <div class="row intelligent">
              <div class="col-6">
                <img src="../../assets/images/our-Approach-1.jpg" alt=""/>
              </div>
              <div class="col-6">
                <h2 class="SecTitle">We are wizards of intelligent change</h2>
                <p>For those who desire a business future where Artificial Intelligence is
                  augmented with Human Intelligence, for instant accurate insights of
                  data, we are there.</p>
                  <p>A passionate team of experts, bringing together over 70 years of
                    technology and industry experience, DSW is a visionary technology
                    start-up, headquartered in Mumbai, India.</p>
                    <p>As experts in Artificial Intelligence and , we push the boundaries of what
                      can be, with ethical, data-driven, open source solutions that are agile,
                      customisable, scalable and powerful.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="aboutsecTwo">
          <div class="container">
            <div class="row intelligent">

              <div class="col-6">
                <h2 class="SecTitle">Our approach</h2>
                <p>Our approach is to infuse businesses with predictive, AI driven thinking
                  through a process of collaboration and partnership.This helps us
                  identify and understand precisely what is needed by harnessing the data
                  and leveraging the AI ecosystem to empower businesses and help them
                  achieve their business goals. </p>
                    <p>Our solutions are a best-fit for BFSI, Telcom, Healthcare and other IT
                      solution reliant business verticals. Teamed with our intelligent platform
                      solutions we add AI capabilities to DevOps, IT Ops and align IT business
                      transactions to business objectives.</p>
              </div>
              <div class="col-6 text-right">
                <img src="../../assets/images/our-Approach.jpg" alt=""/>
              </div>
            </div>
          </div>
        </div>


    </section>