.pageBanner{
    background-image: url(../../assets/images/aboutBnr.png);
    background-color: #000926;
    //background-size: 100%;
    background-position:left ;
    background-repeat: no-repeat;
    overflow: hidden;
    .pageTitl{
        color: #fff;
        text-align: center;
        padding: 130px 0 180px;
    }
}
.aboutusContSec{
    background-color: #fff;
    padding: 50px 0;
    .everyone{
        text-align: center;
    }
}
.aboutsecOne{
    position: relative;
    padding: 30px 0;
    margin: 100px 0 80px;
    &::before{
        content: '';
        height: 100%;
        width: 30%;
        border:4px solid #FF5D2E;
        position: absolute;
        top: 0;
        left: 0;
        border-left: none;
    }
}
.aboutsecTwo{
    position: relative;
    padding: 30px 0;
    margin: 80px 0;
    &::before{
        content: '';
        height: 100%;
        width: 30%;
        border:4px solid #FF5D2E;
        position: absolute;
        top: 0;
        right: 0;
        border-right: none;
    }
}
.tcp{
    background-color: #F2F6FC;

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        .SecTitle{
            margin: 50px 0;
        }
        .technologypartners{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 60px;
.logo{
    padding: 0 50px;
    height: 40px;
    display: flex;
    max-height: 40px;
    img{
        height: 100%;
    }
    &.nasco{
       height:25px;
    }
}
        }
    }


}
.ourTeam{
    background-color: #fff;
    padding:0 0 50px;
    .container{
        display: flex;
        align-items: center;
        flex-direction: column;
        .SecTitle{
            margin: 60px 0 30px;
        }
        .teams{
            display: flex;
            align-items: center;
            margin: 30px 0;
            .teamMember{
                margin: 0 30px;
                width: 210px;
                overflow: hidden;
                position: relative;
                transition: all .5s ease-in-out;
                cursor: pointer;
                figure{
                    margin: 0;
                    position: relative;
                    height: 250px;
                    img{
                        height: 100%;
                        width: 100%;
                    }
                    h5{
                        position: absolute;
                        bottom: 0;
                        text-align: center;
                        width: 100%;
                        background: #f0f0f0;
                        margin: 0;
                        padding: 7px;
                        font-size: 16px;
                        transition: all .6s ease-in-out;
                        opacity: 1;
                    }
                    &::after{
                        content: '';
                        background: rgb(255 241 241 / 40%);
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        transition: all .5s ease-in-out;
                        opacity: 0;
                        top: 0;
                        left: 0;
                    }

                }
                figcaption{
                    background-color: #f0f0f0;
                    position: absolute;
                    bottom: -100%;
                    width: 100%;
                    text-align: center;
                    padding: 10px;
                    transition: all .6s ease-in-out;
                    h5{
                        font-size: 16px;
                    }
                    p{
                        font-size: 12px;
                        color: #888;
                        margin: 0;
                    }
                    a{
                    position: absolute;
                    top: -15px;
                    left: 50%;
                    margin-left: -10px;
                    opacity: 0;
                    transition: all .5s ease-in-out;

                        span{
                            background-color: #fff;
                            padding: 12px;
                            border-radius: 50%;
                            height: 24px;
                            width: 24px;
                            background-position: -1px -45px;
                            box-shadow: 0 0 2px #000;

                        }
                    }
                }
                &:hover{
                    figure{
                        &::after{
                            opacity: 1;
                        }

                    }
                    figcaption{
                        bottom: 0;
                        a{
                            opacity: 1;
                        }
                    }
                }
            }

        }
    }
}
.footerDemo{
    position: relative;
    background-color: #F2F6FC;
    padding-top: 50px;
    padding:0 ;
    .container{
        position: relative;
        padding:80px 0 150px;
        z-index: 9;
        .footerDemoinn{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h3{
                color:#002c67 ;
                font-weight: 800;
                margin-bottom: 50px;
            }

            .rquBtn{
                .btn{
                    border-width: 3px;
                    width: 250px;
                    transition: all .5s ease-in-out;
                    -webkit-transition: all .5s ease-in-out;
                    -moz-transition: all .5s ease-in-out;
                    -o-transition: all .5s ease-in-out;
                    -ms-transition: all .5s ease-in-out;
                    transition: all .5s ease-in-out;
                    &:hover{
                        -webkit-transform: scale(1.1);
                        -moz-transform: scale(1.1);
                        -o-transform: scale(1.1);
                        transform: scale(1.1);
                    }
                }
            }
        }

    }
    }
