<section class="pageBanner">
    <div class="container">
        <h2 class="pageTitl">About us Page</h2>
    </div>
    <div class="shape">
        <!-- <div class="left"></div> -->
        <!-- <div class="right"></div> -->
      </div>
    </section>
    <section class="aboutusContSec">
        <div class="container">
          <div class="everyone">
          <h2 class="SecTitle">Everyone can go AI</h2>
          <p>
            As the applications of Artificial Intelligence gain momentum in everyday life, we aim to nurture its ecosystem<br/>
            with data-driven, open-source technology solutions and training that benefit businesses, <br/>customers, communities
            and stakeholders. We are building the world of tomorrow.<br/>
            We are accelerating the next wave of change. For everyone.
          </p>
        </div>
        </div>
        <div class="aboutsecOne">
          <div class="container">
            <div class="row intelligent">
              <div class="col-6">
                <img src="../../assets/images/our-Approach-1.jpg" alt=""/>
              </div>
              <div class="col-6">
                <h2 class="SecTitle">We are wizards of intelligent change</h2>
                <p>Headquartered in Mumbai, India, DSW is a visionary technology start-up, that merges over 70 years of industry experience.</p>

                 <p>As experts in augmenting Human Intelligence with Artificial Intelligence, we are pushing the boundaries of what can be, with ethical, data-driven, open source solutions that are agile, customisable, scalable and powerful.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="aboutsecTwo">
          <div class="container">
            <div class="row intelligent">

              <div class="col-6">
                <h2 class="SecTitle">Our approach</h2>
                <p>We infuse businesses with predictive, AI driven thinkingthrough collaboration and partnership. Our data management and engineering consultancy enables customers to use data more effectively in boosting outcomes.</p>

                <p> We offer solutions that are a best-fit for BFSI, Telecom, Healthcare and IT solution reliant business verticals.Teamed with our intelligent platform solutions, we add AI capabilities to DevOps, IT Ops and align IT business transactions to business objectives.</p>
              </div>
              <div class="col-6 text-right">
                <img src="../../assets/images/our-Approach.jpg" alt=""/>
              </div>
            </div>
          </div>
        </div>


    </section>