<section class="trainingSec">
    <div class="container">
      <h2 class="SecTitle text-center">Training</h2>
      <div class="listing traininglist">
        <div class="trnyList">
          <div class="rList">
            <figure>
              <img src="../assets/images/data-science-training.jpg" alt="insurance" title="insurance">
              <div class="enroll text-center"><button type="submit" class="btn btn-outline-primary">ENROLL NOW</button></div>
            </figure>
            <figcaption>
              <p>Data Science Foundations</p>
            </figcaption>
          </div>

        </div>

        <div class="trnyList">
        <div class="rList">
          <figure>
            <img src="../assets/images/insurance-blog.jpg" alt="insurance" title="insurance">
            <div class="enroll text-center"><button type="submit" class="btn btn-outline-primary">ENROLL NOW</button></div>
          </figure>
          <figcaption>
            <p>Python Programming for beginners</p>
          </figcaption>
        </div>

      </div>
        <div class="trnyList">
        <div class="rList">
          <figure>
            <img src="../assets/images/data-science-training.jpg" alt="insurance" title="insurance">
            <div class="enroll text-center"><button type="submit" class="btn btn-outline-primary">ENROLL NOW</button></div>
          </figure>
          <figcaption>
            <p>R Programming for beginners</p>
          </figcaption>
        </div>

      </div></div>
    </div>
  </section>