<section class="trainingSec">

  <div class="product">
    <div class="container">
      <h3>We offer a wide range of AI products</h3>
      <p>State of the art AI products customised based<br/>  on your business requirements</p>
      <div class="learnmore">
        <button class="btn btn-outline-primary btn-lg">View all Product</button>
       </div>

    </div>
  </div>
  <h2 class="SecTitle text-center">Training</h2>
<div class="traniSec">
    <div class="container">

      <div class="listing traininglist">
        <carousel [cellsToShow]="3" [height]="350">
          <div class="carousel-cell">
            <div class="trnyList">
              <div class="rList">
                <figure>
                  <img src="../assets/images/training/python-for-data-science.png" alt="insurance" title="insurance">
                  <div class="enroll text-center"><button type="submit" class="btn btn-outline-primary">ENROLL NOW</button></div>
                </figure>
                <figcaption>
                  <p>Python for Data Science</p>
                </figcaption>
              </div>

            </div>
          </div>
          <div class="carousel-cell">
            <div class="trnyList">
              <div class="rList">
                <figure>
                  <img src="../assets/images/training/data-Science-Foundation.png" alt="insurance" title="insurance">
                  <div class="enroll text-center"><button type="submit" class="btn btn-outline-primary">ENROLL NOW</button></div>
                </figure>
                <figcaption>
                  <p>Data Science Foundation </p>
                </figcaption>
              </div>

            </div>
          </div>
          <div class="carousel-cell">
            <div class="trnyList">
              <div class="rList">
                <figure>
                  <img src="../assets/images/training/r-for-Data-Science.png" alt="insurance" title="insurance">
                  <div class="enroll text-center"><button type="submit" class="btn btn-outline-primary">ENROLL NOW</button></div>
                </figure>
                <figcaption>
                  <p>R for Data Science</p>
                </figcaption>
              </div>

            </div>
          </div>
          <div class="carousel-cell">
            <div class="trnyList">
              <div class="rList">
                <figure>
                  <img src="../assets/images/training/r-for-Data-Science.png" alt="insurance" title="insurance">
                  <div class="enroll text-center"><button type="submit" class="btn btn-outline-primary">ENROLL NOW</button></div>
                </figure>
                <figcaption>
                  <p>R Programming for beginners</p>
                </figcaption>
              </div>

            </div>
          </div>
          </carousel>




    </div>
    </div>
  </div>
  </section>