<section class="pageBanner">
    <div class="container">
        <h2 class="pageTitl"><a routerLink="/career">Back To List</a>
            <span>{{careerObj.careerTitle}}</span>
        <h5 style="color: white;">{{ careerObj.careerType != '' ? (_careerTypeList[careerObj.careerType] | textReplace: "_") : ''}}</h5>
    </h2>


    </div>
</section>
<section class="pageLayout">
    <div class="backGroundMask">
        <div class="maskGrid">
            <div class="left"></div>
            <div class="right"></div>
        </div>
    </div>
    <section class="TrainingsSec">

        <div class="container">

            <h2 class="SecTitle text-center">Description</h2>
            <div [innerHTML]="careerObj.description">
            </div>
            <div class="location">
                <span class="iconsprt map"></span><span>{{ getCountry(careerObj.country) }}, {{ setLocation(careerObj.city, careerObj.workPlace) }}</span>
            </div>
            <!-- <p> {{ setLocation(careerObj.city, careerObj.workPlace) }}</p>
            <p> {{ getCountry(careerObj.country) }}</p> -->

            <div class="contactForm mt-5">
                <h2 class="SecTitle text-center">Apply for This Role</h2>

                <form [formGroup]="createCareerForm" (ngSubmit)="onSubmit()">
                    <div>
                        <input type="hidden" formControlName="careerId">
                    </div>


                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <input type="text" formControlName="firstName" class="form-control" placeholder="FIrst Name">
                                <label class="form-label">First Name</label>
                                <small *ngIf="!careerValidation.isFirstNameValid">enter firstname</small>
                            </div>

                        </div>


                        <div class="col-12">
                    <div class="form-group">
                        <input type="text" formControlName="lastName" class="form-control" placeholder="Last Name">
                        <label class="form-label" for="lastName">Last Name</label>
                        <small *ngIf="!careerValidation.isLastNameValid">enter Last Name</small>
                    </div>
                    </div>
                    <div class="col-12">
                    <div class="form-group">
                        <input type="text" formControlName="emailId" class="form-control" placeholder="EmailId">
                        <label class="form-label" for="emailId">Email</label>
                        <small *ngIf="!careerValidation.isEmailValid">enter Email</small>
                        <small *ngIf="!careerValidation.isValidEmailRegex">enter valid email</small>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <input type="number" formControlName="phoneNo" class="form-control" placeholder="Phone">
                        <label class="form-label" for="phoneNo">Phone</label>
                        <small *ngIf="!careerValidation.isPhoneValid">enter Phone</small>
                    </div>
                </div>
                <!-- <div class="col-12">
                    <div class="form-group">
                        <input type="text" formControlName="location" class="form-control" placeholder="Location">
                        <label class="form-label" for="location">Location</label>
                    </div>
                </div> -->
                <div class="col-12">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group selectplugin">
                                <select formControlName="country" (ngModelChange)="selectedChanged($event, 'country')" class="form-field">
                                    <option [value]="">--Select--</option>
                                    <option *ngFor="let item of countryArr" [value]="item.isoCode">{{item.name}}</option>
                                </select>
                                <label class="form-label" >Select Country</label>
                                <small *ngIf="!careerValidation.isCountryValid">enter Country</small>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group selectplugin">
                                <select formControlName="state" placeholder="Select" (ngModelChange)="selectedChanged($event, 'state')" class="form-field">
                                    <option [value]="">--Select--</option>
                                    <option *ngFor="let item of stateArr" [value]="item.isoCode">{{item.name}}</option>
                                  </select>
                                  <label class="form-label" >Select State</label>
                                  <small *ngIf="!careerValidation.isStateValid">enter State</small>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group selectplugin">
                                <select formControlName="city" (ngModelChange)="selectedChanged($event, 'city')" class="form-field">
                                    <option [value]="">--Select--</option>
                                    <option *ngFor="let item of cityArr" [value]="item.name">{{item.name}}</option>
                                </select>
                                <label class="form-label" >Select City</label>
                                <small *ngIf="!careerValidation.isCityValid">enter City</small>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-12">
                    <div class="form-group">
                        <input type="text" formControlName="linkedIn" class="form-control" placeholder="LinkedIn">
                        <label class="form-label" for="linkedIn">LinkedIn</label>
                        <small *ngIf="!careerValidation.isLinkedInValid">enter LinkedIn</small>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group ">
                        <input type="text" formControlName="refInfo" class="form-control" placeholder="refInfo">
                        <label class="form-label" for="refInfo">RefInfo</label>                        
                    </div>
                </div>




                <div class="col-12">
                    <!-- <div class="form-group">
                        <input type="file" formControlName="filePath" id="file" class="form-control" (change)="onFileChange($event)">
                        <label class="custom-file-label" for="filePath">Upload Resume/ CV</label>
                    </div> -->
                    <div class="custom-file">
                        <input type="file" #inputFile  id="file" (change)="onFileChange($event)" required>
                        <small *ngIf="!careerValidation.isFileValid">Select PDF File</small>
                      </div>

                </div>

            </div>

                    <p class="plcyInfo">By submitting your information to our website you agree to the terms outlined in our <a
                        href="/privacypolicies"> Privacy Policy.</a></p>
                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>

                </form>
            </div>
        </div>
        <div *ngIf="isPosted">
            Thanks. Your detail is successfully posted.
        </div>
    </section>
</section>