<section class="pageBanner">
    <div class="container">
        <h2 class="pageTitl"><a routerLink="/career">Back To List</a>
            <span>{{careerObj.careerTitle}}</span>
        <h5 style="color: white;">{{careerObj.careerType}}</h5>
    </h2>


    </div>
</section>
<section class="pageLayout">
    <div class="backGroundMask">
        <div class="maskGrid">
            <div class="left"></div>
            <div class="right"></div>
        </div>
    </div>
    <section class="TrainingsSec">

        <div class="container">

            <h2 class="SecTitle text-center">Description</h2>
            <div [innerHTML]="careerObj.description">
            </div>
            <p> {{careerObj.location}}</p>

            <div class="contactForm">
                <h2 class="SecTitle text-center">Apply for This Role</h2>


                <form [formGroup]="createCareerForm" (ngSubmit)="onSubmit()">
                    <div>
                        <input type="hidden" formControlName="careerId">
                    </div>


                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <input type="text" formControlName="firstName" class="form-control" placeholder="FIrst Name">
                                <label class="form-label">First Name</label>
                            </div>
                        </div>


                        <div class="col-12">
                    <div class="form-group">
                        <input type="text" formControlName="lastName" class="form-control" placeholder="Last Name">
                        <label class="form-label" for="lastName">Last Name</label>
                    </div>
                    </div>
                    <div class="col-12">
                    <div class="form-group">
                        <input type="text" formControlName="emailId" class="form-control" placeholder="EmailId">
                        <label class="form-label" for="emailId">Email</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <input type="text" formControlName="phoneNo" class="form-control" placeholder="Phone">
                        <label class="form-label" for="phoneNo">Phone</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <input type="text" formControlName="location" class="form-control" placeholder="Location">
                        <label class="form-label" for="location">Location</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <input type="text" formControlName="linkedIn" class="form-control" placeholder="LinkedIn">
                        <label class="form-label" for="linkedIn">LinkedIn</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group ">
                        <input type="text" formControlName="refInfo" class="form-control" placeholder="refInfo">
                        <label class="form-label" for="refInfo">RefInfo</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group ">
                        <mat-select formControlName="country" (ngModelChange)="selectedChanged($event, 'country')" class="form-field">
                            <mat-option [value]="">--Select--</mat-option>
                            <mat-option *ngFor="let item of countryArr" [value]="item.isoCode">{{item.name}}</mat-option>
                        </mat-select>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group ">
                        <mat-select formControlName="state" (ngModelChange)="selectedChanged($event, 'state')" class="form-field">
                            <mat-option [value]="">--Select--</mat-option>
                            <mat-option *ngFor="let item of stateArr" [value]="item.isoCode">{{item.name}}</mat-option>
                          </mat-select>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group ">
                        <mat-select formControlName="city" (ngModelChange)="selectedChanged($event, 'city')" class="form-field">
                            <mat-option [value]="">--Select--</mat-option>
                            <mat-option *ngFor="let item of cityArr" [value]="item.name">{{item.name}}</mat-option>
                        </mat-select>
                    </div>
                </div>
                
                
                <div class="col-12">
                    <!-- <div class="form-group">
                        <input type="file" formControlName="filePath" id="file" class="form-control" (change)="onFileChange($event)">
                        <label class="custom-file-label" for="filePath">Upload Resume/ CV</label>
                    </div> -->
                    <div class="custom-file">
                        <input type="file" #inputFile  id="file" (change)="onFileChange($event)" required>

                      </div>

                </div>

            </div>

                    <p class="plcyInfo">By submitting your information to our website you agree to the terms outlined in our <a
                        href="/privacypolicies"> Privacy Policy.</a></p>
                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>

                </form>
            </div>
        </div>
        <div *ngIf="isPosted">
            Thanks. Your detail is successfully posted.
        </div>
    </section>
</section>