<section class="headerSec">
  <video controls loop muted autoplay class="headerbanner">
    <source src="../assets/images/HOME_PAGE_LOOP_VIDEO.mp4" type="video/mp4">
  </video>
  <div class="topSec fixed-top">
    <div class="topmedia">
      <div class="container">
        <div class="contactus">
          <span class="iconsprt contacticon"></span><a
            href="mailto:info@datascienewizards.in">info@datascienewizards.in</a>
        </div>
        <div class="socialM">
          <ul>
            <li>
              <a class="iconsprt social inst" href="#">
              </a>
            </li>
            <li>
              <a class="iconsprt social twit" href="#">

              </a>
            </li>
            <li>
              <a class="iconsprt social face" href="#">

              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="menuSec">
        <div class="logo">
          <img src="../assets/images/jwsLogo.png" alt="Logo" title="JSW">
        </div>

        <nav>
          <ul>
            <li> <a href="#">Home</a></li>
            <li> <a href="#">Solutions</a></li>
            <li> <a href="#">Products</a></li>
            <li> <a href="#">Services</a></li>
            <li> <a href="#">Training</a></li>
            <li> <a href="#">About Us</a></li>
            <li class="request"> <a href="#">Request a Demo </a></li>
          </ul>
        </nav>
      </div>


    </div>
  </div>
  <div class="banner">
    <div class="container">
      <h1>Unlock the power of AI </h1>
      <h4>Build with hybrid open source, data science <br />
        and Artificial Intelligence, ethically applied.</h4>

      <button type="button" class="btn btn-outline-primary">Want to know more</button>

    </div>
  </div>
</section>

<section class="bodypart">
  <div class="container">
    <div class="contentSec cango">
      <h2 class="SecTitle">Everyone can go AI.</h2>
      <p>
        As the applications of Artificial Intelligence gain momentum in everyday life, we aim to nurture its ecosystem
        with data-driven, open-source technology<br/> solutions and training that benefit businesses, customers, communities
        and stakeholders. We are building the world of tomorrow.
      </p>
      <p>We are accelerating the next wave of change. For everyone.</p>
    </div>

    <div class="contentSec manMachine">
      <h2 class="SecTitle">The robust man-machine advantage.</h2>
      <p>We believe in blending man and machine learning into a hybrid system
        that is smarter, intuitive and driven by stronger ethical considerations.<br/>
        All our open source AI solutions are robust, value driven,
        industry agnostic and focused on accelerating positive change.
      </p>

      <div class="row">
        <div class="col-4 partList">
          <span class="iconsprt advantage agnostic"></span>
          <h4>Agnostic solutions</h4>
          <p>Assistance in migration from expensive legacy lock-ins to solutions that are more flexible and tuned to
            evolving business needs. </p>
        </div>
        <div class="col-4 partList">
          <span class="iconsprt advantage robust"></span>
          <h4>Robust Models</h4>
          <p>Reliability is built in from the start with robust modeling and testing architecture to ensure successful
            outcomes.</p>
        </div>
        <div class="col-4 partList">
          <span class="iconsprt advantage ethical"></span>
          <h4>Ethical Value oriented</h4>
          <p>Optimised solutions designed to be ethical and cost-effective across initial build and operational costs
            for greater goodwill and LTV.</p>
        </div>
        <div class="col-4 partList">
          <span class="iconsprt advantage respons"></span>
          <h4>Responsiveness</h4>
          <p>Based on areas of engagement, a 24x7 service, consultancy and trouble-shooting support is available.</p>
        </div>
        <div class="col-4 partList">
          <span class="iconsprt advantage training"></span>
          <h4>Training / Up-skilling</h4>
          <p>Modular training of new hires or upskilling of existing talent can save costs in the digital transformation
            process. </p>
        </div>
        <div class="col-4 partList">
          <span class="iconsprt advantage domain"></span>
          <h4>Domain expertise</h4>
          <p>With a combined experience of over 100 years across our team, we offer open source AI domain expertise for
            BFSI, Insurance and other verticals. </p>
        </div>
      </div>
    </div>
  </div>

</section>
<footer>
  <div class="">
    <div class="left"></div>

  </div>
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="logo">
          <img src="../assets/images/jwsLogo.png" alt="Logo" title="JSW">
        </div>
      </div>
      <div class="col-9">
        <div class="row">
          <div class="col-3 qucklink">
            <strong>Products</strong>
            <ul>
              <li> <a href="#">Chatbot</a></li>
              <li> <a href="#">Face recognition</a></li>
              <li> <a href="#">Video consent</a></li>
              <li> <a href="#">OCR for KYC</a></li>
              <li> <a href="#">Smart form</a></li>
              <li> <a href="#">Call centre analytics</a></li>
            </ul>

          </div>
          <div class="col-3 qucklink"><strong>Consultancy</strong>
            <ul>
              <li> <a href="#">Project management</a></li>
              <li> <a href="#">Resume building</a></li>
              <li> <a href="#">Large Projects/internship</a></li>
              <li> <a href="#">Fresher's placement</a></li>
            </ul>
          </div>
          <div class="col-3 qucklink"><strong>Training</strong>
            <ul>
              <li> <a href="#">Data Science</a></li>
              <li> <a href="#">Cloud</a></li>
              <li> <a href="#">Refresher course</a></li>
              <li> <a href="#">Large Projects/internship</a></li>
              <li> <a href="#">Corporate training</a></li>

            </ul>
          </div>
          <div class="col-3 qucklink"><strong>Quick Links</strong>
            <ul>
              <li> <a href="#">About us</a></li>
              <li> <a href="#">Career</a></li>
              <li> <a href="#">Blog</a></li>
              <li> <a href="#">Contact us</a></li>
              <li> <a href="#">Privacy Policies</a></li>
              <li> <a href="#">Terms and conditions</a></li>

            </ul></div>
            <div class="col-3 qucklink">
              <strong>Subscribe to DSW via Email</strong>
              <div class=""><input type="text" class="form-control" id="staticEmail" placeholder="Email"></div>
              <button type="button" class="btn btn-primary">Subscribe</button>

            </div>
            <div class="col-3 qucklink"><strong>Contact Info</strong>
              <p>+91 7208058137/ 7208058135</p>
              <p>nfo@datasciencewizards.in</p>
              <p>1Aerocity, Unit No 4023, NIBR
                Compound, Mohili Village, Safed Pool,
                Sakinaka, Mumbai - 400072</p>
            </div>
        </div>
      </div>
    </div>
    <div class="copyright"><div class="">Copyright © 2021</div>
    <div class="fotterSocial">
     <div class="socialM">
      Follow us
        <ul>
          <li>
            <a class="iconsprt social inst" href="#">
            </a>
          </li>
          <li>
            <a class="iconsprt social twit" href="#">

            </a>
          </li>
          <li>
            <a class="iconsprt social face" href="#">

            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
  </div>
</footer>