<div class="topSec sticky-top">
    <div class="topmedia">
      <div class="container">
        <div class="contactus">
          <span class="iconsprt contacticon"></span><a
            href="mailto:contactus@datasciencewizards.in">contact@datasciencewizards.in</a>
        </div>
        <div class="socialM">
          <ul>
            <li>
              <a class="iconsprt social linkd"  target="_blank" href="https://www.linkedin.com/company/data-science-wizards">

              </a>
            </li>
            <li>
              <a class="iconsprt social inst" target="_blank" href="https://www.instagram.com/datasciencewizards/?hl=en">
              </a>
            </li>

            <li>
              <a class="iconsprt social face"  target="_blank" href="https://www.facebook.com/datasciencewizards/">

              </a>
            </li>
            <li>
              <a class="iconsprt social twit"  target="_blank" href=" https://twitter.com/dswizards">

              </a>
            </li>

          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="menuSec">

        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
          <div class="logo">
            <a class="nav-link" href="/home"><img src="../assets/images/jwsLogo.png" alt="Logo" title="DSW"></a>
          </div>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="webview">
            <li> <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a></li>

            <li class="menuMore"> <a href="#" onclick="return false;" class="nav-link"  routerLinkActive="active">Solutions <em></em></a>
              <ul class="submenu">
                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" routerLink="/solutions/insureAi">InsureAI</a>
                </li>
                <li>
                  <a routerLink="/contactUs">DevOps Insights Workbench</a>
                </li>
                <li>
                  <a routerLink="/contactUs">Logwiz<sup>Beta</sup></a>
                </li>

              </ul>
            </li>
            <li class="nav-item"> <a class="nav-link" routerLink="/products" routerLinkActive="active" >Products</a></li>
            <li class="nav-item"> <a class="nav-link" routerLink="/services" routerLinkActive="active" >Services</a></li>
            <li class="nav-item"> <a class="nav-link" routerLink="/training" routerLinkActive="active" > Training</a></li>
            <li class="nav-item"> <a class="nav-link" routerLink="/aboutus" routerLinkActive="active">About Us</a></li>
            <li class="request nav-item" routerLink="/contactUs"> <button type="button" class="btn btn-outline-primary">
              Request a Demo
            </button></li>

          </ul>

          <ul class="modeView">
            <li> <a class="nav-link" data-toggle="collapse" data-target="#navbarCollapse"  routerLink="/home" routerLinkActive="active">Home</a></li>

            <li class="menuMore"> <a href="#"  onclick="return false;" class="nav-link"  routerLinkActive="active">Solutions <em></em></a>
              <ul class="submenu">
                <li class="nav-item">
                  <a class="nav-link" data-toggle="collapse" data-target="#navbarCollapse"  routerLinkActive="active" routerLink="/solutions/insureAi">InsureAI</a>
                </li>
                <li>
                  <a  data-toggle="collapse" data-target="#navbarCollapse" routerLink="/contactUs" routerLinkActive="active" >DevOps Insights Workbench</a>
                </li>
                <li>
                  <a data-toggle="collapse" data-target="#navbarCollapse" routerLink="/contactUs" routerLinkActive="active" >Logwiz<sup>Beta</sup></a>
                </li>

              </ul>
            </li>
            <li class="nav-item"> <a data-toggle="collapse" data-target="#navbarCollapse"  class="nav-link"  routerLink="/products" routerLinkActive="active">Products</a></li>
            <li class="nav-item"> <a data-toggle="collapse" data-target="#navbarCollapse"  class="nav-link" routerLink="/services" routerLinkActive="active">Services</a></li>
            <li class="nav-item"> <a data-toggle="collapse" data-target="#navbarCollapse"  class="nav-link" routerLink="/training" routerLinkActive="active"> Training</a></li>
            <li class="nav-item"> <a data-toggle="collapse" data-target="#navbarCollapse"  class="nav-link" data-toggle="collapse" data-target="#navbarCollapse" routerLink="/aboutus" routerLinkActive="active">About Us</a></li>
            <li class="request nav-item" routerLink="/contactUs" data-toggle="collapse" data-target="#navbarCollapse"> <button type="button" class="btn btn-outline-primary">
              Request a Demo
            </button></li>

          </ul>
        </div>
        </nav>
        <!-- <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <a class="navbar-brand" href="#">Fixed navbar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
              </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav> -->
      </div>

