.topSec{
    z-index: 9;
    background-color: black;

    .topmedia{
        background-color: #fff;
        .socialM{
            margin: 8px 0 10px;
        }
        .contactus{
            display: flex;
            align-items: center;
            font-size: 14px;
            .contacticon{
                margin-right: 6px;
            }
            a{
                text-decoration: none;
                color: black;
            }
        }
        .container{
            display:flex;
            justify-content: space-between;
            align-items: center;
            ul{
                list-style: none;
                display: flex;
                margin: 0;
                padding: 0;
                li{
                    margin-left: 15px;

                }
            }
        }

    }
    .menuSec{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        .logo{
            max-width: 225px;
            height: auto;
            img{
                width: 100%;
            }
        }
    }
    nav{
        ul{
            list-style: none;
            display: flex;
            padding: 0;
            margin: 0;
            li{
                a{
                    padding: 10px 0px;
                    margin-left: 40px;
                    color: #fff;
                    font-size: 14px;
                }
                &.request{
                    a{
                        border: 2px solid #FF5D2E;
                        padding: 5px 15px 10px;
                        border-radius: 6px;
                        font-weight: bold;
                        line-height: normal;
                    }
                }
            }
        }
    }
}