<div class="topSec sticky-top">
    <div class="topmedia">
      <div class="container">
        <div class="contactus">
          <span class="iconsprt contacticon"></span><a
            href="mailto:info@datascienewizards.in">info@datascienewizards.in</a>
        </div>
        <div class="socialM">
          <ul>
            <li>
              <a class="iconsprt social inst" href="#">
              </a>
            </li>
            <li>
              <a class="iconsprt social twit" href="#">

              </a>
            </li>
            <li>
              <a class="iconsprt social face" href="#">

              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="menuSec">
        <div class="logo">
          <img src="../assets/images/jwsLogo.png" alt="Logo" title="JSW">
        </div>

        <nav>
          <ul>
            <li> <a routerLink="/home">Home</a></li>
            <li> <a routerLink="/solutions">Solutions</a></li>
            <li> <a routerLink="/products">Products</a></li>
            <li> <a routerLink="/services">Services</a></li>
            <li> <a routerLink="/training">Training</a></li>
            <li> <a routerLink="/aboutus">About Us</a></li>
            <li class="request"> <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#requestdemo">
              Request a Demo
            </button></li>

          </ul>
        </nav>
      </div>

