.topSec{
    z-index:100000;
    background-color: rgba(0, 25, 37, .9);

    .topmedia{
        background-color: #fff;
        .socialM{
            margin: 8px 0 10px;
        }
        .contactus{
            display: flex;
            align-items: center;
            font-size: 14px;
            .contacticon{
                margin-right: 6px;
            }
            a{
                text-decoration: none;
                color: black;
            }
        }
        .container{
            display:flex;
            justify-content: space-between;
            align-items: center;
            ul{
                list-style: none;
                display: flex;
                margin: 0;
                padding: 0;
                transition: all 1s ease-in-out;
                li{
                    margin-left: 15px;

                }
            }
        }

    }
    .menuSec{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo{
            max-width: 225px;
            height: auto;
            margin: 10px 0;
            img{
                width: 100%;
            }
        }
    }
    nav{
        ul{
            list-style: none;
            display: flex;
            padding: 0;
            margin: 0;
            li{
                display: flex;
                align-items: center;
                a{
                    padding: 20px 0px;
                    margin-left: 40px;
                    color: #fff;
                    font-size: 14px;
                    position: relative;
                    &::after{
                        content: '';
                        height: 2px;
                        width: 0%;
                        background-color:#FF5D2E ;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        transition: all .2s ease-in-out;
                        opacity: 0;
                    }
                    &.active{
                        color: #FF5D2E;
                        font-weight: bold;
                        &::after{
                            content: '';
                            height: 2px;
                            width: 100%;
                            background-color:#FF5D2E ;
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            transition: all .2s ease-in-out;
                            opacity: 1;
                        }
                    }
                }
                &.request{
                    .btn{
                        padding: 5px 15px 10px;
                        font-weight: bold;
                        line-height: normal;
                        margin-left: 30px;
                        font-size: 14px;
                        border-color: #fff;
                        color: #fff;
                        &:hover,&:focus{
                            color: #FF5D2E;
                            border-color: #FF5D2E;
                            background-color: transparent;
                        }
                    }
                }
                &.menuMore{
                    position: relative;
                    transition: all .2s ease-in-out;
                    a{
                        display: flex;
                        align-items: center;
                        em{
                            width: 0;
                            height: 0;
                            border-left: 4px solid transparent;
                            border-right: 4px solid transparent;

                            border-top: 4px solid #fff;
                            display: flex;
                            margin-left: 10px;
                        }
                    }
                    .submenu{
                        position: absolute;
                        top:66px;
                        left: 40px;
                        width:200px;
                        background-color: rgba(0, 0, 0);
                        display: flex;
                        flex-direction: column;
                        margin: 0;
                        padding: 0;
                        border-radius: 0 0 6px 6px;
                        visibility: hidden;
                        transition: all .2s ease-in-out;
                        opacity: 0;
                        transition-delay: 0.2s;
                        z-index: -0;
                        li{
                            padding: 0;
                            a{
                                color: #fff;
                                padding: 6px 10px;
                                margin: 0;
                                display: flex;
                                margin-bottom: 4px;
                                transition: all .2s ease-in-out;
                            }
                            &:hover{
                                background-color:#FF5D2E;
                                a{
                                    text-decoration: none;
                                    &::after{
                                   display: none;
                                    }
                                }
                            }
                        }

                    }
                    &:hover{
                        .submenu{
                           visibility: visible;
                            opacity: 1;
                            z-index: 2;
                            transition-delay: 0;
                        }
                    }
                }
                &:hover{
                    >a{
                        text-decoration: none;
                        color:#FF5D2E ;
                        em{
                            border-top: 4px solid #FF5D2E;
                        }
                        &::after{
                            content: '';
                            opacity: 1;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
.navbar-collapse {
    justify-content: flex-end;
}
.navbar{
    padding: 0;
    width: 100%;
}
.bg-dark {
    background-color: #00000000 !important;
}

@media screen and (max-width: 600px) {
    .topSec{

        .menuSec{
            .logo{
                max-width: 150px;
            }
            .navbar-collapse{
                ul{
                    li{
                        a{
                            margin: 0;
                            display: flex;
                            width: 100%;
                            padding: 10px;
                            // &:hover{
                            //     background-color: #000;
                            //     &::after{
                            //         height: 100%;
                            //         width: 2px;
                            //     }
                            // }
                        }
                        &.menuMore{
                            flex-direction: column;
                            .submenu{
                                position: relative;
                                display: none;
                                left: 0;
                                top: 0;
                                width: 100%;
                                li{
                                    a{
                                        padding-left: 40px;
                                    }
                                }
                            }
                            &:hover{
                                .submenu{
                                    display: block;
                                }
                            }
                        }

                    }
                }
            }
        }

    }
    .topmedia{
        +.container{

        }
    }
    .navbar-collapse{
                >ul{
                    display: flex;
                    flex-direction: column;


        }
    }
  }