<section class="pageBanner">
    <div class="container">
        <h2 class="pageTitl">InsureAI
            <span>A DSW data-driven AI powered platform for the insurance industry</span>
        </h2>

    </div>
    </section>
    <section class="insureLayout">
      <div class="backGroundMask">
        <div class="maskGrid">
          <div class="left"></div>
          <div class="right"></div>
        </div>
       </div>
    <section class="aboutusContSec">
        <div class="container">
          <div class="everyone">
          <h2 class="SecTitle">The future of insurance</h2>
          <p>
            The insurance industry is ready for transformation. New-age thinking is leading the way with <br/>
            behaviour-led insurance, quick price comparison baskets, and agents reskilled as educators.
          </p>
          <p>
            Artificial Intelligence and data-driven sciences integrated into the insurance ecosystem will be a future <br/>
            technology driver for prospecting, claims management,  underwriting, distribution and pricing.
          </p>
        </div>
        <div class="everyone">
            <h2 class="SecTitle">What is InsureAI ?</h2>
            <p>
                InsureAI is a proprietary platform with bundled technology that is designed to deliver <br/>
                transformational AI-augmented solutions across the spectrum of the insurance business.
            </p>
             </div>
             <div class="whyinsureai mt-5">
                <h2 class="SecTitle">Why choose InsureAI ?</h2>


                 <div class="row">
                  <div class="col-3 list">
                    <div class="partList">
                      <span class="iconsprt advantage agnostic"></span>
                      <div class="partListCont">
                        <h4>Greater savings</h4>
                        <p>Assistance in migration from expensive legacy lock-ins to solutions that are more flexible and tuned to
                          evolving business needs. </p>
                      </div>
                    </div>


                  </div>
                  <div class="col-3 list">
                    <div class="partList">
                      <span class="iconsprt advantage enhanced"></span>
                      <div class="partListCont">
                       <h4>Enhanced productivity</h4>
                      <p>With a combined experience of over 100 years across our team, we offer open source AI domain expertise for
                        BFSI, Insurance and other verticals. </p>
                    </div>
                    </div>

                </div>
                  <div class="col-3 list">
                    <div class="partList">
                      <span class="iconsprt advantage customizations"></span>
                      <div class="partListCont">
                      <h4>Product customizations</h4>
                      <p>Optimised solutions designed to be ethical and cost-effective across initial build and operational costs
                        for greater goodwill and LTV.</p>
                        </div>
                    </div>

                  </div>
                  <div class="col-3 list">
                    <div class="partList">
                      <span class="iconsprt advantage effective"></span>
                      <div class="partListCont">
                      <h4>Effective management</h4>
                      <p>Based on areas of engagement, a 24x7 service, consultancy and trouble-shooting support is available.</p>
                    </div>
                    </div>

                  </div>

                </div>

              </div>
        </div>
        <h2 class="useCasestitl SecTitle">Use Cases</h2>
    </section>
    <section class="useCases">

      <div class="container">

        <div class="row">
          <div class="col-3 pr-0">
        <ul ngbNav #useCases="ngbNav" class="nav-tabs">
          <li class="insurTitle">
          <li ngbNavItem>
            <a ngbNavLink>Underwriting & Risk Rating</a>
            <ng-template ngbNavContent>
              <div class="list insuranceSlider animate__animated animate__fadeIn">
                <figure>
                  <img src="../assets/images/Underwriting-risk-rating.png" alt="insurance" title="insurance">
                  <div class="secData">
                    <!-- <h5>Underwriting and Risk Rating</h5> -->
                    <strong>Overview</strong>
                    <p>InsureAI assists underwriters in analysing data and relevant document generation to speed up the underwriting process. This helps the underwriter to better quantify the risk at the risk definition phase and create better premium prediction matches. InsureAI also mitigates human errors due to intensive routine tasks, data saturation and seasonal business spikes.</p>
                    <strong>Solutions</strong>
                    <ul>
                      <li>- Business and target segmentation </li>
                      <li>- Automated application analysis and risk scoring (medical submissions, KYC, forms) </li>
                      <li>- Data collection and enrichment </li>
                      <li>-  Underwriting process automation </li>
                    </ul>
                  </div>
                </figure>
                <!-- <div class="explr">
                  <button type="submit" class="btn btn-primary">Explore use case</button>
                </div> -->
              </div>
            </ng-template>
          </li>
          <li ngbNavItem>
            <a ngbNavLink>Fraud Prevention</a>
            <ng-template ngbNavContent>
              <div class="list insuranceSlider animate__animated animate__fadeIn">
                <figure>
                  <img src="../assets/images/fraud-Detection.png" alt="insurance" title="insurance">
                  <div class="secData">
                    <!-- <h5>Underwriting and Risk Rating</h5> -->
                    <strong>Overview</strong>
                    <p>InsureAI solutions can help analyze data sources to flag opportunistic or organised fraud, such as concealment, falsification and suspect patterns of behaviour, for immediate action. Scoring models can create low to high probability scenarios with high probability cases automatically flagged for further investigation.</p>
                    <strong>Solutions</strong>
                    <ul>
                      <li>- Advanced Audio/video/ image analytics to detect tampering.</li>
                      <li>- Speech/voice recognition to identify/verify customers.</li>
                      <li>-  Predictive modelling to prevent fraudulent claims/proof submission </li>
                      <li>- Fraud claims pattern and ambiguity detection </li>
                      <li>- Customer profiling and segregation based on master records and history</li>
                      <li>- Analytics to prevent genuine claim being erroneously flagged as fraudulent </li>
                    </ul>
                  </div>
                </figure>
                <!-- <div class="explr">
                  <button type="submit" class="btn btn-primary">Explore use case</button>
                </div> -->
              </div>
            </ng-template>
          </li>
          <li ngbNavItem>
            <a ngbNavLink>Claims Management </a>
            <ng-template ngbNavContent>
              <div class="list insuranceSlider animate__animated animate__fadeIn">
                <figure>
                  <img src="../assets/images/claims-Managemetnt.png" alt="insurance" title="insurance">
                  <div class="secData">
                    <!-- <h5>Underwriting and Risk Rating</h5> -->
                    <strong>Overview</strong>
                    <p>InsureAI is built to streamline and fast-track the entire claims process. It offers data science enabled solutions that can verify policies, check for fraud, match to settlement rules, approve and process payments. This not only makes for faster and more efficient claims management, it promotes customer satisfaction and goodwill for repeat business.</p>
                    <strong>Solutions</strong>
                    <ul>
                      <li>- Claims submission and data process automation</li>
                      <li>- Claims policy verification automation</li>
                      <li>-  Automated customer report generation  </li>
                      <li>- Advanced fraud detection to predictive analysis </li>
                      <li>- Models to reduce false positives and rectify genuinely misidentified  cases</li>
                    </ul>
                  </div>
                </figure>
                <!-- <div class="explr">
                  <button type="submit" class="btn btn-primary">Explore use case</button>
                </div> -->
              </div>
            </ng-template>
          </li>
          <li ngbNavItem>
            <a ngbNavLink>Marketing & Sales </a>
            <ng-template ngbNavContent>
              <div class="list insuranceSlider animate__animated animate__fadeIn">
                <figure>
                  <img src="../assets/images/marketingSales.jpg" alt="insurance" title="insurance">
                  <div class="secData">
                    <strong>Overview</strong>
                    <!-- <h5>Underwriting and Risk Rating</h5> -->
                    <p> InsureAI solutions assist in advanced data analysis which can define customer segmentation, propensity modelling, customer trend and cyclical management. Insurers can create ideal marketing strategies that are customised for greater market penetration, smarter customer identification and targeting, with cross-sell, up-sell  and re-targeting opportunities. </p>
                    <strong>Solutions</strong>
                    <ul>
                      <li>- Seamless customer acquisition and on-boarding</li>
                      <li>- Consistent customer journey mapping</li>
                      <li>- Market trend analysis  </li>
                      <li>- Propensity modelling and segmentation </li>
                      <li>- Natural Language affinity modelling </li>
                    </ul>
                  </div>
                </figure>
                <!-- <div class="explr">
                  <button type="submit" class="btn btn-primary">Explore use case</button>
                </div> -->
              </div>
            </ng-template>
          </li>
          <li ngbNavItem>
            <a ngbNavLink>Operational Efficiency </a>
            <ng-template ngbNavContent>
              <div class="list insuranceSlider animate__animated animate__fadeIn">
                <figure>
                  <img src="../assets/images/operationsEfficiency.jpg" alt="insurance" title="insurance">
                  <div class="secData">
                    <!-- <h5>Underwriting and Risk Rating</h5> -->
                    <strong>Overview</strong>
                    <p>Creating and processing documents manually is time consuming and prone to errors. Workflow documentation and processes can become streamlined and far more efficient with InsureAI. Algorithms can verify KYC details, check risk profiles and behaviour to match premium norms, verify payments and speed up process times. </p>
                    <strong>Solutions</strong>
                    <ul>
                      <li>- Efficient workflow automation</li>
                      <li>- Automatic data extraction and creation</li>
                      <li>- Faster process management </li>
                      <li>- Less paperwork and storage issues</li>
                    </ul>
                  </div>
                </figure>
                <!-- <div class="explr">
                  <button type="submit" class="btn btn-primary">Explore use case</button>
                </div> -->
              </div>
            </ng-template>
          </li>
          <li ngbNavItem>
            <a ngbNavLink>Product Development</a>
            <ng-template ngbNavContent>
              <div class="list insuranceSlider animate__animated animate__fadeIn">
                <figure>
                  <img src="../assets/images/productDevelopment.jpg" alt="insurance" title="insurance">
                  <div class="secData">
                    <!-- <h5>Underwriting and Risk Rating</h5> -->
                    <strong>Overview</strong>
                    <p>With access to more data points, InsureAI can better read customer attitudes and behaviour, resulting in quicker identification of insights, trends and segments, for the development of new products with customisations in price and  features. </p>
                    <strong>Solutions</strong>
                    <ul>
                      <li>- Customised products</li>
                      <li>- Market specific coverage</li>
                      <li>- Quicker product time to market</li>
                    </ul>
                  </div>
                </figure>
                <!-- <div class="explr">
                  <button type="submit" class="btn btn-primary">Explore use case</button>
                </div> -->
              </div>
            </ng-template>
          </li>
          <li ngbNavItem>
            <a ngbNavLink>Customer Servicing</a>
            <ng-template ngbNavContent>
              <div class="list insuranceSlider animate__animated animate__fadeIn">
                <figure>
                  <img src="../assets/images/custSvr.png" alt="insurance" title="insurance">
                  <div class="secData">
                    <!-- <h5>Underwriting and Risk Rating</h5> -->
                    <strong>Overview</strong>
                    <p>Customer experience can be a key factor in brand goodwill, customer retention and repeat business. Understanding customer queries and grievances, and creating fast and easy resolution processes generates positive customer opinion. InsureAI can automate customer service functions to increase service speed and satisfaction.</p>
                    <strong>Solutions</strong>
                    <ul>
                      <li>-  Automated conversations and responses</li>
                      <li>-Automatic 24x7 information access and sales assistance.</li>
                      <li>- Trend analysis through capture of preference</li>
                    </ul>
                  </div>
                </figure>
                <!-- <div class="explr">
                  <button type="submit" class="btn btn-primary">Explore use case</button>
                </div> -->
              </div>
            </ng-template>
          </li>

        </ul>
      </div>
      <div class="col-9 useCasesContlayout">
        <div [ngbNavOutlet]="useCases" class="useCasesCont"></div></div>
      </div>
      </div>
    </section>
    <section class="footerDemo">
      <div class="container">
        <div class="footerDemoinn">
          <h3>Experience the power of artificial intelligence at work</h3>
          <p>Get free advice, guidance on deployments and an exclusive<br/>
            look at how ai can transform business. </p>
            <div class="rquBtn">
              <button class="btn btn-outline-primary btn-lg" routerLink="/contactUs">Book a test drive</button>
            </div>
        </div>
      </div>
    </section>
  </section>