<section class="pageBanner">
    <div class="container">
        <h2 class="pageTitl">Contact Us</h2>
    </div>
    </section>
    <section class="pageLayout">
      <div class="backGroundMask">
        <div class="maskGrid">
          <div class="left"></div>
          <div class="right"></div>
        </div>
       </div>
       <section class="contactUsContSec">
        <div class="container">

          <div class="row">
              <div class="col-6"></div>
              <div class="col-6">
                <form>
                    <div class="form-group">
                      <input type="text" class="form-control" id="name1" placeholder="Name">
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control" id="email" placeholder="email">
                    </div>
                    <div class="form-group">
                      <input type="phone" class="form-control" id="phone" placeholder="Phone">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" id="country" placeholder="Country">
                    </div>
                    <div class="form-group">
                      <select class="form-control" id="query" aria-placeholder="Select your query">
                        <option selected> Select your query</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </div>
                  </form>
              </div>
          </div>
            </div>
            </section>
       </section>


