<section class="pageBanner">
    <div class="container">
        <h2 class="pageTitl">Contact Us</h2>
    </div>
    </section>
    <section class="pageLayout">
      <div class="backGroundMask">
        <div class="maskGrid">
          <div class="left"></div>
          <div class="right"></div>
        </div>
       </div>
       <section class="contactUsContSec">
        <div class="container">

          <div class="row">
              <div class="col-5 adrsPart">
              <h3>Contact Info</h3>
              <p><span _ngcontent-oxw-c17="" class="iconsprt advantage phone"></span> <strong>+91 7208058137/ 7208058135</strong></p>
              <p><span _ngcontent-oxw-c17="" class="iconsprt advantage mail"></span> <strong>contact@datasciencewizards.in</strong></p>
              <p><span _ngcontent-oxw-c17="" class="iconsprt advantage address"></span> <strong><strong>Head Office : </strong>1Aerocity, Unit No 4023, NIBR Compound,
                Mohili Village , Safed Pool, Sakinaka, Mumbai - 400072</strong></p>
                <p><span _ngcontent-oxw-c17="" class="iconsprt advantage address"></span> <strong><strong>London Office : </strong> Data Science Wizards, 70 White Hart
                  Lane, Romford RM7 8JB, England - 62090</strong></p>

              </div>
              <div class="col-7">

                <div class="contactForm">
                  <h3>Get in Touch</h3>
                <form>
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control" id="firstName" placeholder="First Name">
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control" id="lastName" placeholder="Last Name">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <label>Email Address:</label>
                        <input type="email" class="form-control" id="email" placeholder="Email Id">
                      </div>

                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label>Phone Number:</label>
                        <input type="phone" class="form-control" id="email" placeholder="Phone Number">
                      </div>

                    </div>
                  </div>

                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <label>Job Title:</label>
                        <input type="text" class="form-control" id="email" placeholder="Job Title">
                      </div>

                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label>Company Name:</label>
                        <input type="text" class="form-control" id="email" placeholder="Company Name">
                      </div>

                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label>Country :</label>
                        <input type="text" class="form-control" id="email" placeholder="Country">
                      </div>

                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label>Message: :</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>

                    </div>
                  </div>
                  <p>By submitting your information to our website you agree to the terms outlined in our  <a href="">Privacy Policy.</a></p>
                  </form>
                  <button class="btn btn-primary btn-lg">Submit</button>
              </div>
            </div>
          </div>
            </div>
            </section>
       </section>


