.product{

    .container{
        min-height: 400px;
        padding: 70px 60px 60px 280px;
        position: relative;
        background-position:center right;
        background-repeat: no-repeat;
        // background-size: 1140px;
        &::before{
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            right: -200px;
            display: flex;
            background-image: url(../../../../assets/images/product-banner.png);
            background-color: #000926;
            background-repeat: no-repeat;
            background-repeat: no-repeat;
            background-position: right center;

        }
        h3{
            color: #FF5D2E;
            font-weight: 800;
            margin-bottom: 30px;
            position: relative;
            z-index: 9;
        }
        p{
            color: #fff;
            //font-size: 20px;
            line-height: 26px;
            margin-bottom: 60px;
        }
        .btn{
            border-color: #fff;
            color: #fff;
            margin-top: 30px;
            position: relative;
            z-index: 9;
        }
    }
    ul{
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        max-width: 50%;
        li{
            max-width: 50%;
            width: 100%;
            display: flex;
            margin-bottom: 5px;
            position: relative;
            padding-left: 20px;
            &::before{
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                display: flex;
                height: 2px;
                width: 10px;
                background-color: #fff;

            }
           a{
                color: #fff;
                padding: 6px 0;

            }
        }
    }
}