<div class="product">
    <div class="container">
        <h2 class="SecTitle text-center">Our Products</h2>
      <ul>
          <li>
              <span class="iconsprt advantage chatbot"></span>
              <a href="">Chatbot</a>
              <p>Automate your customer service</p>

          </li>
          <li>
            <span class="iconsprt advantage face"></span>
            <a href="">Face Recognition</a>
            <p>Facial biometrics for identification</p>
        </li>
        <li>
            <span class="iconsprt advantage orc"></span>
            <a href="">OCR</a>
            <p>OCR for documents scanning</p>
        </li>
        <li>
            <span class="iconsprt advantage form"></span>
            <a href=""> Smart Form</a>
            <p>Conversational utility to ease manual
                form filling process</p>
        </li>
        <li>
            <span class="iconsprt advantage analytics"></span>
            <a href="">Call Center Analytics</a>
            <p>Automate your customer service</p>
        </li>

        <li>
            <span class="iconsprt advantage vedio"></span>
            <a href="">Video Consent</a>
            <p>VideoKYC for customer onboarding
                process</p>
        </li>
      </ul>
      <div class="learnmore">
        <button class="btn btn-outline-primary btn-lg">View all products</button>
       </div>

    </div>
  </div>
