<div class="product">
    <div class="container">
      <h3>We offer a wide range of AI products</h3>
      <ul>
          <li>
              <a href="">Chatbot</a>
          </li>
          <li>
            <a href="">OCR</a>
        </li>
        <li>
            <a href="">Video Consent
            </a>
        </li>
        <li>
            <a href=""> Smart Form</a>
        </li>
        <li>
            <a href="">Face Recognition</a>
        </li>
        <li>
            <a href="">Call Center Analytics</a>
        </li>
      </ul>
      <div class="learnmore">
        <button class="btn btn-outline-primary btn-lg">View all products</button>
       </div>

    </div>
  </div>
