<section class="usecaseSec">
    <div class="container">
      <div class="listing usecaseList">
          <div class="rList one">
            <figure>
              <img src="../assets/images/Logwiz.png" alt="insurance" title="insurance">
            </figure>
            <figcaption>
              <h3>Logwiz  <span>- A DSW platform solution</span></h3>
              <p>Integrated Infrastructure and Application Monitoring platform that enables enhanced threat management system with the power of AI.
                Gain faster anomaly or threat detection, analysis and response times.</p>
              <div class="learnmore">
               <button class="btn btn-outline-primary btn-lg">Explore more</button>
              </div>
            </figcaption>

        </div>

        <div class="rList two">
          <figure>
            <img src="../assets/images/DevOps.png" alt="insurance" title="insurance">
          </figure>
          <figcaption>
           <h3>DevOps Workbench <span>- A DSW platform solution</span></h3>
              <p>Stay ahead of the curve. Gain a head start on competition with increased agility, reliability and turnaround times for better business outcomes.</p>
              <div class="learnmore">
                <button class="btn btn-outline-primary btn-lg">Explore more</button>
               </div>
            </figcaption>

      </div>
      <!-- <div class="rList three">
        <figure>
          <img src="../assets/images/CICD.png" alt="insurance" title="insurance">
        </figure>
        <figcaption>
          <h3>IntelliCI/CD <span>- A DSW platform solution</span></h3>
          <p>Build a smarter AI  powered  Continuous Integration /Development pipeline that can be customised to your business needs.</p>
          <div class="learnmore">
            <button class="btn btn-outline-primary btn-lg">Explore more</button>
           </div>
        </figcaption>

    </div> -->
    </div>
    </div>
  </section>