<section class="usecaseSec">
    <div class="container">
      <h2 class="SecTitle text-center">By Use case</h2>
      <div class="listing usecaseList">
          <div class="rList">
            <figure>
              <img src="../assets/images/log.png" alt="insurance" title="insurance">
            </figure>
            <figcaption>
              <strong>Intelligent Log Management & Monitoring</strong>
              <p>Leveraging AI features Integrated Infrastructure & Application Monitoring platform for Enterprise</p>
              <div class="learnmore">
               <button class="btn btn-outline-primary">Learn More</button>
              </div>
            </figcaption>

        </div>

        <div class="rList">
          <figure>
            <img src="../assets/images/intelliCI-CD.png" alt="insurance" title="insurance">
          </figure>
          <figcaption>
            <strong>DevOps insight Workbench</strong>
              <p>Stay ahead of the curve. Gain a head start on competition with increased agility, reliability and turnaround times for better business outcomes.</p>
              <div class="learnmore">
                <button class="btn btn-outline-primary">Learn More</button>
               </div>
            </figcaption>

      </div>
      <div class="rList">
        <figure>
          <img src="../assets/images/Platform-dev-ops-work-bench.png" alt="insurance" title="insurance">
        </figure>
        <figcaption>
          <strong>IntelliCI/CD</strong>
          <p>Build a smarter AI  powered  Continuous Integration /Development pipeline that can be customised to your business needs.</p>
          <div class="learnmore">
            <button class="btn btn-outline-primary">Learn More</button>
           </div>
        </figcaption>

    </div>
    </div>
    </div>
  </section>