<section class="usecaseSec">
    <div class="container">
      <h2 class="SecTitle text-center">By Use case - <span>In general</span></h2>
      <div class="listing usecaseList">
          <div class="rList">
            <figcaption>
              <strong>Intelligent Log Management & Monitoring</strong>
              <p>Leveraging AI features Integrated Infrastructure & Application Monitoring platform for Enterprise</p>
            </figcaption>
            <figure>
              <img src="../assets/images/insurance-blog.jpg" alt="insurance" title="insurance">
            </figure>
        </div>
  
        <div class="rList">
          <figcaption>
            <strong>DevOps Maturity Workbench</strong>
              <p>Leveraging DevOps and continuously improve business outcome using latest technologies</p>
          </figcaption>
          <figure>
            <img src="../assets/images/insurance-blog.jpg" alt="insurance" title="insurance">
          </figure>
      </div>
      <div class="rList">
        <figcaption>
          <strong>INTELLICI/CD</strong>
          <p>AI  powered  CI/CD  pipeline that streamlines the software delivery process</p>
        </figcaption>
        <figure>
          <img src="../assets/images/insurance-blog.jpg" alt="insurance" title="insurance">
        </figure>
    </div>
    </div>
    </div>
  </section>