.footerDemo{
position: relative;
background-color: #fff;
padding-top: 50px;
padding: 70px 0 ;
    &::before{
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
       // background-image: url(../../../assets/images/Request-demo-bg-network-graphic.png);
        background-size: 100%;
        background-position: center;
        z-index: 1;
        left: -10px;
        bottom: -54px;
        z-index: 1;
        transform: rotate(-4deg);
}
.container{
    position: relative;
    z-index: 9;
    .footerDemoinn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3{
            color:#FF5D2E ;
            font-weight: 800;
        }
        p{
            font-size: 22px;
            line-height: 35px;
            padding: 20px 220px;
            display: flex;
        text-align: center;
        }
    }

}
}
.copyright{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #FF5D2E;
    color: #fff;
    padding: 20px 0;
    .cpy{
        font-size: 14px;
        span{
            color: #FF5D2E;
        }
    }
    .fotterSocial{
        .socialM{
            display: flex;
            align-items: center;
            ul{
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                margin-left: 10px;
                li{
                    margin-left: 30px;
                }
            }
            .social{
                &.inst{
                    background-position: -69px -68px;
                }
                &.twit{
                    background-position: -25px -69px;
                }
                &.face{
                    background-position: -64px -48px;
                }
            }
        }

    }
}