<footer>


  <div class="footerPart">
    <div class="footerlinks">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-2 qucklink">
              <strong>Solutions</strong>
              <ul>
                <li> <a href="#">InsureAI</a></li>
                <li> <a href="#">Log Management</a></li>
                <li> <a href="#">DevOps Workbench</a></li>
                <li> <a href="#">IntelliCI/CD</a></li>
              </ul>

            </div>
            <div class="col-2 qucklink">
              <strong>Products</strong>
              <ul>
                <li> <a href="#">Chatbot</a></li>
                <li> <a href="#">Face recognition</a></li>
                <li> <a href="#">Video consent</a></li>
                <li> <a href="#">OCR for KYC</a></li>
                <li> <a href="#">Smart form</a></li>
                <li> <a href="#">Call centre analytics</a></li>
              </ul>

            </div>
            <div class="col-2 qucklink"><strong>Consultancy</strong>
              <ul>
                <li> <a href="#">Project management</a></li>
                <li> <a href="#">Resume building</a></li>
                <li> <a href="#">Large Projects/internship</a></li>
                <li> <a href="#">Fresher's placement</a></li>
              </ul>
            </div>
            <div class="col-2 qucklink"><strong>Training</strong>
              <ul>
                <li> <a href="#">Data Science</a></li>
                <li> <a href="#">Cloud</a></li>
                <li> <a href="#">Refresher course</a></li>
                <li> <a href="#">Large Projects/internship</a></li>
                <li> <a href="#">Corporate training</a></li>

              </ul>
            </div>
            <div class="col-2 qucklink"><strong>Quick Links</strong>
              <ul>
                <li> <a href="#">About us</a></li>
                <li> <a href="#">Career</a></li>
                <li> <a href="#">Blog</a></li>
                <li> <a href="#">Contact us</a></li>
                <li> <a href="#">Privacy Policies</a></li>
                <li> <a href="#">Terms and conditions</a></li>

              </ul></div>
              <!-- <div class="col-3 qucklink">
                <strong>Subscribe to DSW via Email</strong>
                <div class=""><input type="text" class="form-control" id="staticEmail" placeholder="Email"></div>
                <button type="button" class="btn btn-primary">Subscribe</button>

              </div> -->
              <!-- <div class="col-2 qucklink"><strong>Contact Info</strong>
                <p>+91 7208058137/ 7208058135</p>
                <p>nfo@datasciencewizards.in</p>
                <p>1Aerocity, Unit No 4023, NIBR
                  Compound, Mohili Village, Safed Pool,
                  Sakinaka, Mumbai - 400072</p>
              </div> -->
          </div>
        </div>
      </div>
      <div class="copyright"><div class="cpy">Copyright © 2021 <span>Data Science Wizards</span></div>
      <!-- <div class="fotterSocial">
       <div class="socialM">
        Follow us
          <ul>
            <li>
              <a class="iconsprt social inst" href="https://www.instagram.com/datasciencewizards/?hl=en">
              </a>
            </li>
            <li>
              <a class="iconsprt social twit" href=" https://twitter.com/dswizards">

              </a>
            </li>
            <li>
              <a class="iconsprt social face" href="https://www.facebook.com/datasciencewizards/">

              </a>
            </li>
          </ul>
        </div>

      </div> -->
    </div>
    </div>
  </div>
</div>
  </footer>