<footer>


  <div class="footerPart">
    <div class="footerlinks">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-2 qucklink">
              <strong>Solutions</strong>
              <ul>
                <li> <a href="/solutions/insureAi">InsureAI</a></li>
                <li> <a routerLink="/contactUs">DevOps Insights Workbench </a></li>
                <li> <a routerLink="/contactUs">Logwiz<sup>Beta</sup></a></li>

                <!-- <li> <a href="#">IntelliCI/CD</a></li> -->
              </ul>

            </div>
            <div class="col-2 qucklink">
              <strong>Products</strong>
              <ul>
                <li> <a routerLink="/products">Chatbot</a></li>
                <li> <a routerLink="/products">Face recognition</a></li>
                <li> <a routerLink="/products">Video consent</a></li>
                <li> <a routerLink="/products">OCRWiz</a></li>
                <li> <a routerLink="/products">Smart form</a></li>
                <li> <a routerLink="/products">Call centre analytics</a></li>
              </ul>

            </div>
            <div class="col-2 qucklink"><strong>Services</strong>
              <ul>
                <li> <a routerLink="/services">Identify AI Use Cases</a></li>
                <li> <a routerLink="/services">Develop AI Strategies </a></li>
                <li> <a routerLink="/services">Analyze And Assess Data</a></li>
                <li> <a routerLink="/services">Determine AI ROI Impact</a></li>
              </ul>
            </div>
            <div class="col-2 qucklink"><strong>Training</strong>
              <ul>
                <li> <a routerLink="/training">Data Science Foundation</a></li>
                <li> <a routerLink="/training">Python for Data Science</a></li>
                <li> <a routerLink="/training">Machine Learning</a></li>
                <li> <a routerLink="/training">AI & Deep Learning</a></li>
                <li> <a routerLink="/training">R for Data Science</a></li>

              </ul>
            </div>
            <div class="col-2 qucklink"><strong>Quick Links</strong>
              <ul>
                <li> <a href="/aboutus">About us</a></li>
                <li> <a routerLink="/career">Career</a></li>                
                <!-- <li> <a routerLink="/contactUs">Career</a></li> -->
                <li> <a routerLink="/contactUs">Blog</a></li>
                <li> <a href="/contactUs">Contact us</a></li>
                <li> <a href="/privacypolicies">Privacy Policies</a></li>
                <li> <a href="/termsandconditions">Terms and conditions</a></li>

              </ul></div>
              <!-- <div class="col-3 qucklink">
                <strong>Subscribe to DSW via Email</strong>
                <div class=""><input type="text" class="form-control" id="staticEmail" placeholder="Email"></div>
                <button type="button" class="btn btn-primary">Subscribe</button>

              </div> -->
              <!-- <div class="col-2 qucklink"><strong>Contact Info</strong>
                <p>+91 7208058137/ 7208058135</p>
                <p>nfo@datasciencewizards.in</p>
                <p>1Aerocity, Unit No 4023, NIBR
                  Compound, Mohili Village, Safed Pool,
                  Sakinaka, Mumbai - 400072</p>
              </div> -->
          </div>
        </div>
      </div>
      <div class="copyright"><div class="cpy">Copyright © 2021 <span>Data Science Wizards</span></div>
      <!-- <div class="fotterSocial">
       <div class="socialM">
        Follow us
          <ul>
            <li>
              <a class="iconsprt social inst" href="https://www.instagram.com/datasciencewizards/?hl=en">
              </a>
            </li>
            <li>
              <a class="iconsprt social twit" href=" https://twitter.com/dswizards">

              </a>
            </li>
            <li>
              <a class="iconsprt social face" href="https://www.facebook.com/datasciencewizards/">

              </a>
            </li>
          </ul>
        </div>

      </div> -->
    </div>
    </div>
  </div>
</div>
  </footer>