footer{

    .footerPart{
        position: relative;
        overflow: hidden;
        padding: 120px 0 20px;
        margin-top: -80px;
         z-index: 2;
         background: #000926;
         .footerlinks{
         background-color:#000926;
         padding-top: 40px;
         }
         .logo{
             width: 200px;
             img{
                 max-width: 100%;
             }
         }
         .qucklink{
             margin-bottom: 30px;
             flex: 0 0 20%;
             max-width: 20%;
             strong{
                 color: #FF5D2E;
                 margin-bottom: 10px;
                 display: flex;
             }
             ul{
                 margin: 0px;
                 padding: 0;
                 list-style: none;
                 li{
                     margin-bottom: 6px;
                     a{
                         color: #fff;
                        // font-size: 14px;
                     }
                 }
             }
             p{
                 color: #fff;
                 margin-bottom: 10px;
             }
             .form-control{
                 background: transparent;
                 border-color: #FF5D2E;
                 margin: 10px 0;
             }
         }
     }
}

.copyright{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #FF5D2E;
    color: #fff;
    padding: 20px 0;
    .cpy{
        font-size: 14px;
        span{
            color: #FF5D2E;
        }
    }
    .fotterSocial{
        .socialM{
            display: flex;
            align-items: center;
            ul{
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                margin-left: 10px;
                li{
                    margin-left: 30px;
                }
            }
            .social{
                &.inst{
                    background-position: -69px -68px;
                }
                &.twit{
                    background-position: -25px -69px;
                }
                &.face{
                    background-position: -64px -48px;
                }
            }
        }

    }
}
@media screen and (max-width: 600px) {
    .footerDemo{
        padding: 20px 0;
        .container{
            .footerDemoinn{
                h3{
                    font-size: 20px;
                    text-align: center;
                }
                p{
                    padding: 0;
                    font-size: 12px;
                    line-height: 16px;
                }
                .rquBtn{
                    .btn{
                        font-size: 14px;
                    }
                }
            }
        }
    }
    footer .footerPart .qucklink {
        flex: 0 0 50%;
        max-width: 50%;
    }
}