<section class="pageBanner">
    <div class="container">
        <h2 class="pageTitl">Career</h2>
    </div>
</section>
<section class="pageLayout">
    <div class="backGroundMask">
        <div class="maskGrid">
            <div class="left"></div>
            <div class="right"></div>
        </div>
    </div>
    <section class="TrainingsSec">
        <div class="container">
            <div class="contentSec">
                <h2 class="SecTitle text-center">
                Join the community</h2>
            <p class="text-center">Data Science Wizards is a community of people who believe in the power of data to change the
                world, <br/>and ready to challenge the complexity and inadequacy of conventional approaches in
                pursuit  <br/>of better answers to the world's toughest challenges.</p>


            </div>
            <div class="careerlist">
            <h2 class="SecTitle text-center">
                Current openings</h2>
            <div class="row ">

                <div *ngFor="let item of careerData" class="col-6">
                    <div class="t-list" (click)="postCareer(item)">
                        <input type="hidden" name="careerId">
                        <h5>{{item.careerTitle}}</h5>
                        <strong>{{ _careerTypeList[item.careerType] | textReplace: "_" }}</strong>
                        <span class="location"><span class="iconsprt map"></span>{{setLocation(item.city, item.workPlace)}}</span>
                        <!-- <h5>{{item.description}}</h5> -->
                        <span class="applay">Apply</span>
                    </div>
                </div>
            </div>
        </div>
         </div>
    </section>
</section>