/* You can add global styles to this file, and also import other style files */
$body-bg:    #fff !default;
$body-color: #373C44 !default;
$primary:    #FF5D2E !default;
$secondary:  #000926 !default;
$white:    #fff !default;
$gray-100: #F0F0F0 !default;
$gray-200: #fafafa !default;
$gray-300: #dee2e6 !default;
$gray-400: #CACED5 !default;
$gray-500: #D5D5D5 !default;
$gray-600: #8B83A4 !default;
$gray-700: #495057 !default;
$gray-800: #F8F8F8 !default;
$gray-900: #475F7B !default;
$black:    #373C44  !default;
$blue:     #007bff !default;
$indigo:   #6610f2 !default;
$purple:   #6f42c1 !default;
$pink:     #e83e8c !default;
$red:      #FF0000 !default;
$orange:   #fd7e14 !default;
$yellow:   #ffdf02 !default;
$green:    #1DAD81 !default;
$teal:     #20c997 !default;
$cyan:     #007bff !default;
$thBg:     #F5F5F5 !default;
$input-bg: #fcfcfc !default;
$input-color:$gray-800!default;
$font-family-base: "Roboto",
sans-serif;



/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import url(../src/animation.scss);
@import url(../src/assets/webfont/webRbtFont.scss);
body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
@media (min-width: 1200px){
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1180px;
    }
}
sup {
    font-weight: normal;
}
.btn,.form-control{
    border-radius: 0;
}
img{
    max-width: 100%;
}
.form-control{
    color: $black;
    &:focus{
        color: $black;
    }
}
.iconsprt{
    display: flex;
    background-image: url(../src/assets/images/spriteImage.svg);
    &.social{
        background-size: 450px;
        width: 16px;
        height: 16px;
        &.inst{
            background-position:-48px -69px;
        }
        &.twit{
            background-position:-1px -69px;
        }
        &.face{
            background-position:-51px -48px;
            width: 10px;
        }
        &.linkd{
            background-position: -6px -49px;
            width: 16px;
        }

    }
    &.contacticon{
        height: 18px;
        width: 24px;
        background-position: -4px -28px;
        background-size: 500px;

    }
    &.advantage{
        height: 80px;
        width: 80px;
        &.agnostic{
            background-position: -252px -7px;
            //background-position: -194px -156px;
        }
        &.robust{
            background-position: -316px -7px;
           // background-position: -10px -155px;
        }
        &.ethical{
            background-position: -378px -7px;
           // background-position: -488px -156px;
        }
        &.respons{
            background-position:-442px -7px;
            //background-position:-390px -163px;
        }
        &.training{
            background-position:-504px -7px;
           // background-position: -103px -156px;
        }
        &.domain{
            background-position:-570px -7px;
           // background-position:-291px -156px;
        }

    }


}
.pageTitl{
    font-size: 2.5rem;
    font-weight: bold;
    span{
        font-size: 1.6rem;
        padding: 10px 0;
    }
}
.SecTitle{
    color: #002c67;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
    .MoreLight{
        color: #002c67;
    }
}
.pageBanner{
    .shape{
        &::before{
            border-bottom: 100px solid #ffffff;
        }
    }
}
.backGroundMask{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}
.shape{
    position: relative;
    z-index: 2;
    &::before{
        content: '';
        width: 0;
        height: 0;
        border-left: 1700px solid transparent;
        border-right: 0px solid transparent;
        border-bottom: 100px solid $secondary;
        display: flex;
        position: absolute;
        top: -99px;
        right: 0;
    }
   .left {
    background-color: rgba(255, 172, 64, 0.871);
    border-radius: 33px;
    height: 47px;
    left: -75px;
    position: absolute;
    top: -54px;
    transform: rotate( 176deg );
    width: 269px;
    &::before{
        content: '';
    background-color: rgba(255,102,0,0.6);
    border-radius: 33px;
    height: 37px;
    left: 54px;
    position: absolute;
    transform: rotate(180deg);
    width: 209px;
    top:30px;
        }
     }
     .right {
        background-color: rgba(255, 172, 64, 0.871);
        border-radius:0 33px 33px 0;
        height: 47px;
        right:-3px;
        position: absolute;
        top: -94px;
        transform: rotate( 176deg );
        width: 200px;
        &::before{
            content: '';
        background-color: rgba(255,102,0,0.6);
        border-radius:0 33px 33px 0;
        height: 37px;
        right: 54px;
        position: absolute;
        width: 150px;
        top:-18px;
            }
         }
}
.testimonials{
    .carousel{
        .carousel-indicators{
            li{
                background-color: #002c67 !important;
                height: 10px;
                width: 10px;
                border-radius: 50%;
            }
        }
        .carousel-control-prev-icon{
            background-image:url(../src/assets/images/arrow.png) !important;
            height: 50px;
            width: 50px;
        }
        .carousel-control-next-icon{
            background-image:url(../src/assets/images/arrow.png) !important;
            height: 50px;
            width: 50px;
            transform: rotate(180deg);

        }
    }
}
.resourceslist, .trainingSec{
    .carousel-cells {
        .carousel-cell{
            padding: 0px;
            display: flex;
            justify-content: center;
        }
        }
        .carousel-container{
            .carousel-dots{
                bottom: -24px !important;
                .carousel-dot{
                    border-color: #FF5D2E !important;
                    &-active{
                        background-color:#FF5D2E !important;
                    }
                }
            }
        }

        .carousel-arrows{
            .carousel-arrow{
                &.carousel-arrow-prev{
                    left: -20px;
                    background-size: 50px;
                    box-shadow: none;
                }
                &.carousel-arrow-next{
                    right: -20px;
                    background-size: 50px;
                    box-shadow: none;
                }
            }
        }
}
.tabLayout{
    ul{
        li{
            display: flex;
        }
    }
}
.pageBanner{
    height: 390px;
    overflow: hidden;
    .container{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 600px) {
    .SecTitle{
        font-size: 18px;
    }
    .pageBanner {
        height: 250px;
        background-position: top !important;
        background-size: 100%;
        .pageTitl {
            font-size: 24px;
        }
    }
    .shape{
        .right{
            height: 35px;
            width: 150px;
            &::before{
                height: 30px;
                top: -12px;
            }
        }
    }
}
